[2019-08-16 12:44] michaelstaib commented on #1011
@OneCyrus I agree with you about the config we have to add more cases like local schema files. First version will not have auth but will fallback to local file. But I can see that we could do something in that direction once we have something that we can build on.

[2019-08-16 13:14] OneCyrus commented on #871
while i really like your ideas about the tooling there's one concern with where the stitching rules are stored. while your proposal with the drag&drop UI sounds nice and easy to use, I'm not sure that this should be the primary way to keep the stitched schema up to date.

my main concern with this is that any project of a larger size is working on multiple microservices at any time. to keep the CI

[2019-08-16 13:57] quadgod opened #1018 "Jwt token authorization not working"
**Describe the bug**
Authorize directive not working with JWT

**To Reproduce**
Steps to reproduce the behavior:
[code]

[code]

[code]

[code]

![image](https://user-images.githubusercontent.com/3990608/63172338-c90b2680-c03d-11e9-9cec-858b0d42715f.png)

That's what i got.

All working with classical [Authorize] attribute for built in classical controllers. But for graphql it's not working. Maybe

[2019-08-16 14:20] michaelstaib commented on #1018
That looks alright to me. There is a graphql error. What else do you expect?

[2019-08-16 15:17] michaelstaib commented on #1018
After looking at you repro I saw that the middleware order was not correct:

[code]

The middleware is like a pipeline where the request is handled by each middleware. Since authentication is coming after GraphQL the authentication middleware is never able to handle the request.

A correct order would look like the following:

[code]

[2019-08-16 15:18] michaelstaib commented on #1018
since you disabled subscription `EnableSubscriptions = false` you can also remove `UseWebSockets`.

[2019-08-16 15:19] michaelstaib commented on #1018
I will close this issue and mark it as question.

[2019-08-16 15:19] #1018 closed

[2019-08-16 15:25] michaelstaib commented on #871
What do we do with things where you want multiple schema representations? Then you would need to redeploy all the micro services in order to get a new schema representation in.

This is one of my main concerns. Also I think why should the micro service be bothered with logic about the bigger picture? And this becomes an even bigger question when you take OData and rest into account. How does a leg

[2019-08-16 16:21] tunurgitr commented on #1011
One question I had here was whether it makes sense to build the client separately or whether to _always_ treat the client as a wrapper around a stitching server.

@michaelstaib you had mentioned that you're moving towards merging the stitching server and regular server to use the same pipeline structures. Although the client might be slightly larger, it might simplify things to always have a clien

[2019-08-16 20:52] michaelstaib commented on #1011
@tunurgitr

We will have to have two versions for the client since I want to be able to target things like Blazor where size matters.

But if you opt for the full features then we will have the full GraphQL inside with all the features and the same stitching capabilities.

[2019-08-19 08:58] michaelstaib opened #1020 "Flags enums are not correctly inferred."
**Describe the bug**
If we infer a enum type form a flags enum like `HotChocolate.Types.EnumType<System.Reflection.TypeAttributes` we will run in to an error  that the value names cannot be correctly inferred since each value can have multiple states leading to names like:

`AUTOLAYOUT, ANSICLASS, CLASS, PUBLIC`

**To Reproduce**
[code]

**Expected behavior**
This still has to be defined. Do we in

[2019-08-19 09:58] OneCyrus commented on #871
yes, there's not one way which solves all problems. i guess there are two competing solutions which fundamentally define how a company is organized.

for things like REST you can't annotate somwhere else than a central place (or you are required to have some kind of proxy microservice just for this, which is not great as well). So REST can only be stitched at registry level.

for multiple schemas/

[2019-08-19 12:14] michaelstaib commented on #1011
OK, I have done some implementation... everything is still experimental. I am playing with something I call _pull-up_.

Lets say we have a query like the following:

[code]

Then we will get the following models:

[code]

What we are doing with the generator and what is messing up my head :) is we pull up types when we have for instance just one fragment.

[code]

In the above case hero does not s

[2019-08-20 03:58] tunurgitr commented on #1011
1. The `@remove` directive seems perfect....even for other clients. I've seen other attempts to do this, but they all have serious issues (imho):
- https://github.com/chasingmaxwell/graphql-leveler
- https://github.com/APIs-guru/graphql-lodash
- https://github.com/graphql/graphql-js/issues/297

It's a common request from frontend devs who don't love working with a ton of levels of destructuring. T

[2019-08-20 06:03] rstaib commented on #1011
`@spread` sounds to me good as well. And maybe something like renaming a field in this context would also make sense. The the following example.

[code]

Results in:

[code]

However what would be the expected outcome of the following example then.

[code]

[2019-08-20 06:08] rstaib commented on #1011
Spreading an array or list would only work if there is no other field on the new level, right?

[2019-08-20 06:29] acelot opened #1021 "[Hydration] Is there any helper that collects the requested root fields and returns them as an array?"
I have a resolver that fetch a list of authors. Author's entity have many columns in database such as `id`, `name`, `role`, `isActive`, `createdAt`, `updatedAt` etc. However my GraphQL API exposes only three fields: `id`, `name`, `role`.
[code]

To optimize the speed of the resolver, I want to request from the repository only the necessary columns, and not all in a row. Actually, the question aros

[2019-08-20 07:43] michaelstaib commented on #1011
@rstaib `@remove` will only work if there is only one field at the moment. If we would change that you are right.

[2019-08-20 07:47] michaelstaib commented on #1011
@rstaib

you do not need rename since you have aliases in GraphQL.

[code]

[2019-08-20 07:49] michaelstaib commented on #1011
Everybody in agreement for the new name `@spread`? I will amend the generator to use the new name today.

[2019-08-20 10:42] michaelstaib commented on #1021
Yes there is ... will post you some code later today

[2019-08-20 13:07] michaelstaib commented on #1021
So the easiest way to do that is with our `IResolverContext.CollectFields` fields. This will pull in the fields that have to be resolved in the next level. There are two overloads that allow you to walk the graph and look at all the levels in all possible combinations. This will let you focus on what fields to fetch. `CollectFields` will compute `@skip` and `@include` and also resolve all fragment

[2019-08-20 14:10] tunurgitr commented on #1011
So, to be clear, you're saying you **can't** do:
[code]

I can see how that limitation would make implementation simpler and avoid some odd edge cases, but it feels like there could be a case to support `@spread` with multiple fields. Obviously you'd have to handle collisions (I think you'd want to throw rather than the normal JS behavior where things are overridden in a specific order, but I have

[2019-08-20 15:21] michaelstaib commented on #1011
@tunurgitr We can remove this limitation later in the implementation. I put this in to have a faster path forward. I think we will go the full way once we have the base.

[2019-08-20 15:28] rstaib commented on #1011
I think @tunurgitr has a good point here. Throwing an error if a spread results in collisions is a good behavior in this particular case.

[2019-08-20 15:57] frostshoxx commented on #1011
Looks good so far! I'm excited to try it once it's ready :)

Question: would supporting for union-type deserialization be part of the MVP early on?

For example:

[code]
So here I have a union type result, which return either `Book` or `Author` .

[code]

It would be nice if we could just the result to be either Book or Author in the same collection (e.g., something like  IReadOnyList<ResultUnionT

[2019-08-20 16:02] michaelstaib commented on #1021
Did this answer help you? Can we close this issue or do you need more help on this one?

[2019-08-20 16:03] tunurgitr commented on #1011
@frostshoxx @michaelstaib I think in that case I'd expect classes like this generated:
[code]

[2019-08-20 16:13] michaelstaib commented on #1011
@frostshoxx

Yes, I think we will have a prototype ready by the end of this week for the model generation. Meaning you will be able to throw any query at it and it should generate something.

@tunurgitr

I was exactly going this direction :)

We are already starting to add test cases ...

https://github.com/ChilliCream/hotchocolate/blob/client_api/src/Client/Generators.Tests/DocumentVisitorTests.c

[2019-08-20 16:16] michaelstaib commented on #1011
Just as a little goody ... the code that we generate is perfectly formatted :) I hate those generators that just generate code that is unreadable. We are really looking that the indentations are correct so that the code feels handwritten.

[2019-08-20 18:05] bartecargo commented on #520
I'm interested in using Hot Chocolate on an Azure function. Can I assume from this open issue that it currently isn't possible to do so?

[2019-08-20 18:06] nzbart commented on #520
I'm interested in using Hot Chocolate on an Azure function. Can I assume from this open issue that it currently isn't possible to do so?

[2019-08-20 18:59] michaelstaib commented on #520
It is possible. Here is an example: https://github.com/OneCyrus/GraphQL-AzureFunctions-HotChocolate

With Version 11 we will bring out of the box support for this.

[2019-08-20 23:49] #1021 closed

[2019-08-21 04:10] acelot commented on #1021
[code]

Am I doing the right thing?

[2019-08-21 05:37] nzbart commented on #520
The example worked perfectly for me, thanks.

[2019-08-21 09:03] michaelstaib commented on #1011
@tunurgitr  @rstaib

I did a bit more implementation yesterday night and I think we can also spread lists.

Let me put out some things that will lead to errors first.

1. If the list is a scalar list and we put `@spread` on it, we will throw an exception.
[code]

2. If the field is a scalar it cannot be spread and will throw an exception
[code]

3. If we have collisions we will throw an error
[cod

[2019-08-21 09:10] michaelstaib commented on #1021
@acelot your example will work when `ctx.Field.Type` is an object type. If you have a union or an interface you can ask for all possible types `ctx.Schema.GetPossibleTypes(cox.Field.Type.NamedType())`.

With that you can ask for the fields of each case.

If you want to walk the graph further you can pass in any selectionSet to `CollectFields` and the type context for that selection set.

If you wa

[2019-08-21 09:11] michaelstaib commented on #1021
With a middleware you could collect the fields and apply them onto `IQueryable`. If you need help with that we can guide you along.

[2019-08-21 09:36] acelot commented on #1021
Thanks for the detailed answer! :)

[2019-08-21 13:50] tunurgitr commented on #1011
fwiw, for collision errors, I'd hope for something like:
`Unable to spread "Foo" selections onto "Query". Field "bar" is selected on both types. Alias one of those fields to continue.`

[code]

[2019-08-21 19:58] michaelstaib opened #1023 "Type Registry First Type Wins Issue"
The type registry is walking the type graph and collecting the schema types. At the moment the type that is discovered first wins. This can be problematic when we first find a generic variant like `EnumType<Foo>` and only after that find `FooType`.

[2019-08-22 08:53] michaelstaib commented on #923
@PascalSenn do you know how others by default name the sort classes?

[2019-08-22 08:55] michaelstaib commented on #923
@gmiserez @PascalSenn

Open Issues:

- [ ] Add support for child property sorting
- [ ] Add support for directives on sort fields
- [ ] Default naming of the sort type is not clear yet

[2019-08-22 08:56] michaelstaib commented on #923
I will merge #1022 and build preview 3 now ... then we can see how it feels and decide on how to implement the open issues with it.

[2019-08-22 09:59] Elywejnak opened #1025 "Scoped service act as transient after upgrade from 9.0.4 to 10.0.1"
**Describe the bug**
Hello, we are using scoped service which is updated by ASP NET CORE (2.2) middleware and then is expected in various places in resolvers (and below). In 9.0.4 it acts as expected, service is created upon first dependency request, updated by middleware and then the same instance is distributed to all places (standard dependency injection - constructior / [Service] attribute in

[2019-08-22 10:54] michaelstaib commented on #1025
Hi,

a simple repro would be great. Although we changed some things around dependency injection we have not touched how we pull in services. And there should be no change. So, this might be a bug.

Do you think you can provide a repro?

[2019-08-22 16:44] Elywejnak commented on #1025
[ScopedServiceIssue.zip](https://github.com/ChilliCream/hotchocolate/files/3531069/ScopedServiceIssue.zip)

Hi, here is simple (freshly created project from Hotchocolate template) repro. There is added IteratorService which holds state (one static and one local property) and is set as scoped dependency and middleware IteratorMiddleware which on each request iterates state of the service by 1. Then

[2019-08-22 21:28] michaelstaib commented on #1011
I have started on the result parser. This is basically the part the reads from the response stream and creates from it the graph.

I am taking here a view clues from relay. In relay they do a lot at build time in order to speed things up at run time.

So, I will generate the JSON serializers based on Microsofts new System.Json.Text. This can end up being a lot of code but will be super fast with a

[2019-08-22 21:30] michaelstaib commented on #1011
Once we have this in place I will put in transport abstractions and then we could have a go playing with it. We have not all the tooling in place so we can generate but there is no compilation at the moment and when there is an error we will just explode.

But I think with that we could checkout if we like how the clients work.

[2019-08-22 21:32] michaelstaib commented on #1011
Also the first preview will hoist single fragments but will not spread yet.

[2019-08-23 07:49] michaelstaib commented on #1025
@Elywejnak awesome. I will look at this today.

[2019-08-23 08:38] michaelstaib opened #1026 "Node field does not appear on `EnableRelaySupport()`"

[2019-08-23 08:51] michaelstaib opened #1028 "Syntax errors that occur in the middleware are not send to the error handler."

[2019-08-23 10:57] michaelstaib commented on #285
graphql/graphql-js#1359

[2019-08-23 15:28] michaelstaib commented on #1011
@tunurgitr  @rstaib

I have found an issue in the deserializer that I am not sure ho we we should handle it. First here is one of the result parser functions that one of the operation result parsers consist of:

[code]

First lets assume we have a field that has an interface return type and at the time when we generate the client it has two implementations to this interface `Droid` and `Human`.

N

[2019-08-23 18:34] tunurgitr commented on #1011
@michaelstaib
I think we could have a very similar situation with new enum values, and more generally, with other schema changes you end up with complex situations:
- removing a non-null field removed from a type
- a field changing from non-null to null
- a field changing to a different type

Hopefully most of those are encountered during development :-)

It seems there should be a general way to

[2019-08-23 19:05] michaelstaib commented on #1011
@tunurgitr

So, I have reflected in the issue and have the following thoughts.

First, we should only as a last resort break and give the developer the option to work with the data that we can handle. I will elaborate on this later.

Second, there are things that will break.

Third, we will try to fail on build.

Ok, let me elaborate on these three points. There are schema changes that will inevit

[2019-08-23 20:32] tunurgitr commented on #1011
@michaelstaib that makes sense....I was thinking about the idea of "dangerous" changes (https://github.com/xuorig/graphql-schema_comparator/issues/11), since the case you're handling here is one of those (`TYPE_ADDED_TO_UNION`, `INTERFACE_ADDED_TO_OBJECT`). I was just thinking through how other situations would impact a dotnet client, and the only other one I can think of that would have an impact

[2019-08-26 09:24] michaelstaib opened #1032 "Allow users to customize how events are bound to subscriptions."

[2019-08-26 10:49] michaelstaib commented on #1011
@tunurgitr I also reflected on the weekend a bit more on this. The thing that we can amend are new types added.

The enum added becomes an issue since it is an input type and this would lead into situations where you are able to consume an enum value as unknown but you could not use the date to send something back.

So, this change would lead to the client API to fail. I think we we have to write

[2019-08-26 11:32] gmiserez opened #1033 "MongoDB & Filter on Boolean property: the "_not" filter throws an exception"
While using the new HotChocolate PRISMA-inspired Filter package on top of a Mongo database I encountered the following error when using the booleanProperty_not Filter:

In short, this works:
[code]

while this does not:
[code]

Note: This works:
[code]

**To Reproduce**
Declare the following query type:
[code]

And initialize the City collection in the services:
[code]

I commited a sample repo he

[2019-08-26 14:00] michaelstaib opened #1034 "FilterTypes produce schema errors when filters properties are nullable."
**Describe the bug**
FilterTypes produce schema errors when filters properties are nullable.

**To Reproduce**
[code]

**Expected behavior**
The schema correctly is created without any schema error.

**Desktop (please complete the following information):**
 - OS: macOS
 - Version: HotChocolate Version 10.0.0

[2019-08-26 14:11] gmiserez opened #1035 "Date Filters not returning any result for Equals Filter"
Hello,

We're using the HotChocolate PRISMA-like filters on top of a Mongo IQueryable.
We're currently experiencing an issue when filtering on the exact date.

**To Reproduce**
A sample repository is available here:
https://github.com/gmiserez/HotChocolate_DateFilterWithMongoIssue

This query returns all the concerts:
[code]
the returned concerts:
[code]

But this query doesn't return the concert

[2019-08-26 14:25] gmiserez opened #1036 "DateTime Filters not working"
Hello,
We're running the HotChocolate PRISMA-like Filters on top of a MongoDB.
We're currently experiencing troubles with filters on DateTimeType Fields.

**To Reproduce**
A sample repository is available here:
https://github.com/gmiserez/HotChocolate_DateTimeFilterIssues

Here are our queries:
[code]

The first query returns this:
[code]

The second query returns an error:

Third query:

**Expect

[2019-08-26 19:00] michaelstaib commented on #1025
@Elywejnak I have looked into this and can verify your issue. We have added it to our 10.1.0 backlog and will fix it soon.

[2019-08-27 09:30] gmiserez opened #1037 "Variables parsing: Issue with nested DateTime Fields in variables"
Hello,
We've noticed issues when passing filter values as complex variables in GraphQL Queries.

**To Reproduce**
A demo Api is available on the following Repository : https://github.com/gmiserez/HotChocolate_Demo

Here are our queries:
[code]
with the following variables:
[code]

**Expected behavior**
Both queries should return the same result (a list of concerts).

**Obtained behavior**
The seco

[2019-08-27 14:06] michaelstaib opened #1041 "SchemaError: Always try to add some kind of name that identifies the object that is causing the error."

[2019-08-27 15:14] michaelstaib commented on #1011
@OneCyrus @tunurgitr @rstaib

# Executor

So, although we will have simple generated facades that most of the users will be just fine with, underneath those facades we will have executors. I have refined the API for the client usage. So names and structure differ from the server.

We will have three different executor types:

[code]

The `IOperationExecutor` executes queries or mutations and is th

[2019-08-27 15:18] michaelstaib commented on #1011
# Custom Scalars

In order to register a custom scalar all we have to do is to implement `IValueSerializer` and register it with the dependency injection.

The generated result parser will get all value serializer from the dependency injection and use those when a result is parsed.

Here is an example of a generated result parser:

[code]

[2019-08-27 15:26] michaelstaib commented on #1011
**So, where are we with this issue?**

At the moment we can generate the result models and the result parser.

I have started work on generating the operation types that basically represent one request that you can send to the server.

Things to do:

- [ ] `@spread`
- [ ] Facade Generator
- [ ] File Generator
- [ ] Operation Generator
- [ ] HTTP Operation Executor
- [ ] HTTP Operation Batch Execut

[2019-08-27 15:30] michaelstaib commented on #1011
# dependency injection

Ah one last thing ... the generated client will also have a generated dependency injection method.

Adding it to the services will look like this.

[code]

[2019-08-27 19:05] michaelstaib opened #1042 "Active persisted queries for Apollo has an issue with the signature query."
Hot Chocolate expects the query lookup through the `id` field or the `namedQuery` field. Apollo Links on the other hand always puts the query hash into the extension map.

Signature Query:

[code]

Another example:

[code]

https://blog.apollographql.com/improve-graphql-performance-with-automatic-persisted-queries-c31d27b8e6ea

https://github.com/apollographql/apollo-link-persisted-queries

[2019-08-27 19:27] michaelstaib commented on #1011
@tunurgitr

There are a couple of reasons for this. First `IValueSerializer` is different and also handles serialization of enums.

With the current implementation we do not have any code of the server in. I want to support also building for watchOS and Blazor so we need to get the client really small.

If I would put the server in we have to hit netstandard2.0 but with the current client implemen

[2019-08-27 19:29] michaelstaib commented on #1011
This is the server interface:

https://github.com/ChilliCream/hotchocolate/blob/master/src/Core/Types/Types/Contracts/ISerializableType.cs

[2019-08-27 19:31] michaelstaib commented on #1011
The problem with that interface is that it implements quite a lot:

[code]

[2019-08-27 19:35] michaelstaib commented on #1011
Sorry not true looked at the wrong object ... It actually just implements `IType` which implements `ITypeSystemMember`.

So, we could reuse this interface with `IHasClrType` and `IHasName` together.

[2019-08-27 19:47] michaelstaib commented on #1011
So, just checked the size...

Full GraphQL Core: ca 1.2 MB
Slim Client Core: 17 KB

In both cases we have to add to that amount the generated code.

[2019-08-27 21:28] michaelstaib commented on #1042
This issue is now fixed and integrated into 10.1.0-preview.4

[2019-08-27 21:30] michaelstaib commented on #1042
https://github.com/ChilliCream/hotchocolate/commit/afd4f59df5cf5aa9f4094324c4a2c8dc272fc824

[2019-08-27 21:30] #1042 closed

[2019-08-27 21:32] michaelstaib commented on #1042
The fix is now integrated in release 10.1.0-preview.4

https://github.com/ChilliCream/hotchocolate/releases/tag/10.1.0-preview.4

And also we have integrated the fix into release 11.0.0-preview.5

https://github.com/ChilliCream/hotchocolate/releases/tag/11.0.0-preview.5

[2019-08-27 21:48] michaelstaib commented on #1017
This one is now implemented.

[2019-08-27 21:48] #1017 closed

[2019-08-28 21:14] michaelstaib commented on #1011
I did more work.... :)

We are also opening up the generator API and since we are having builder APIs everywhere it will be again a builder API.

The API looks like this and is already in ...

[code]

So, If someone wants to build ontop or extend the client generator it is possible to add, replace code generators or even to rewrite the schema.

In fact beneath this API sits the `SchemaMerger` API

[2019-08-28 21:15] michaelstaib commented on #1011
PS. The output does not have to be a directory but also can be a

[code]

[2019-08-29 07:23] michaelstaib opened #1046 "Inline fragment type invalid message is not conveying that the type is wrong."
Current Message:
`The specified inline fragment does not exist in the current schema.`

[2019-08-29 08:20] michaelstaib commented on #1046
This one is now fixed in version 11.

[2019-08-29 08:20] #1046 closed

[2019-08-29 08:21] michaelstaib opened #1048 "Rewrite validation rules and move into separate lib"

[2019-08-29 09:24] jurby commented on #602
Hi, gRPC transport would be great as an add-on to Websockets, since gRPC is primarily designed for the HTTP2 protocol with the possibility of using multiplexing for multiple requests at the same time over one open client / server connection.
At the same time, for example, in a web project, it is not necessary to use another transport for GraphQL and another for realtime communication, unless I wan

[2019-08-29 13:16] michaelstaib commented on #602
@jurby thanks for your input. We will look into this for version 12.

[2019-08-30 15:46] stalniy opened #1051 "Custom scalar for JObject is not parsed correctly"
**Describe the bug**

I want to write a custom scalar for the JSON object of any shape (I know I know about strong typing and GraphQL but...) and when I do this hotchocolate incorrectly parses the input object.

All works fine if you use this scalar type as mutation argument but doesn't work when it's a field of InputObjectType.

**To Reproduce**
Steps to reproduce the behavior:
1. Create custom s

[2019-08-30 18:19] michaelstaib commented on #1051
So, the `ComplexInput` is a scalar type? If it is a scalar then the spec defines serialization types, it can. serialize to string, bool, number, decimal number. So you cannot hav a json scalar that can be defined with json.

What is possible is to define a json string ....

[code]

So while you can have complex scalars they cannot build structured data. This is a bigger problem for output types wh

[2019-08-30 18:21] michaelstaib commented on #1051
Ah ... just forgot it... the GraphQL spec can be found here:
https://graphql.github.io/graphql-spec/draft/

[2019-08-30 20:01] stalniy commented on #1051
Apollo server supports JSON as scalar type. Sometimes it’s a good trade off when you don’t want to bother with types.

For example, [GeoJson spec](https://tools.ietf.org/html/rfc7946) says that Point can be described as:

[code]

So, in this case client doesn’t bother about selecting fields for the Point as the shape of Point is strictly defined and there is no sense to select one field but not an

[2019-08-30 20:02] stalniy commented on #1051
Json string looks like a hack. Especially from client side (e.g., js in browser)

[2019-08-30 20:05] stalniy commented on #1051
`ComplexInput` is an input object type with `inner` property which type is a custom Json scalar

[2019-08-30 20:44] michaelstaib commented on #1051
Let me look into the Apollo implementation. I will also discuss that with some other people to get their thoughts on this one. If there is a way to implement it without violating the spec we will do it.

[2019-08-30 21:01] michaelstaib commented on #1051
Also, as a side note. One thing why it won't work is that you use JObject as a backing type whereas we are not using Json.net for parsing variables and requests. We getting rid of Json.net and have only I think two places where we still use it. The literal would need to be a `ObjectValueNode` and the internal ClrType would need to be a `IReadOnlyDictionary<string, object>`. I will try that out lat

[2019-08-31 08:27] michaelstaib commented on #1051
So, we will build in a proper any type with 10.1

[2019-08-31 13:17] acelot opened #1052 "Ability to set custom static attributes to fields"
This feature request is a logical continuation of https://github.com/ChilliCream/hotchocolate/issues/1021.

Thanks to `CollectFields` helper I get a complete list of requested fields. And now I want to map this fields to database columns, and I think about where to store this mapping... The easiest option is to simply store the dictionary in resolvers:

[code]

But this option is ugly and non-decl

[2019-08-31 14:39] frbar opened #1053 "404 for Playground's resources with an existing AspNet Classic webapp"
**Summary**
`https://localhost/graphql/playground` fires 404 errors for resources (styles.css, settings.js, middleware.js) when HotChocolate is integrated to an existing AspNet Classic web application. Endpoint seems OK as I can see the Playground logo while loading is performed.

This is probably not related to HotChocolate but I'm struggling finding the cause.

**Details**
Integration is done in

[2019-08-31 20:22] michaelstaib commented on #1051
I have talked to Ivan about this (the graphql-js maintainer) and it is not forbidding to do that. I had interpreted some sections of the spec differently but I was wrong here.

We will create the new AnyType so that it really can be anything (object, int, float, string, bool).

I will describe the AnyType in more detail in a separate issue that I will link to this issue.

We will put this in 10.1.

[2019-08-31 20:24] michaelstaib commented on #1053
Hi, I will look at this on Monday.

[2019-08-31 20:28] michaelstaib commented on #1052
This already exits, we call it ContextData. Every object, field etc has a ContextData dictionary that becomes immutable after the type is created.

[2019-08-31 20:30] michaelstaib commented on #1052
I will send you some code on Monday.

[2019-08-31 20:54] stalniy commented on #1051
Awesome! Thanks for the amazing support! Keep on doing this great project!

[2019-09-01 07:23] frbar commented on #1053
@michaelstaib thanks. Looks ok with this workaround (https://github.com/aspnet/StaticFiles/issues/65):

[code]

[2019-09-02 14:19] louisjacksonrees opened #1054 "How best to gain access to the HttpRequest object in my Query"
What would be the best method of gaining access to the HttpRequest object of the current request in my query. I have some code like this

` public class Query
    {
        public async Task<IEnumerable<Address>> AddressAccess()
        {

            var addresses = new[]
            {
                new Address
                {
                    AddressId = "Test"
                }

[2019-09-02 17:03] michaelstaib commented on #1054
There are two ways to do it.

1. Write a request interceptor and copy the needed headers into the context data. This will keep your graphql layer clean from http types and lets you write simpler tests.

2. Use IHttpContextAccessor in your resolver.

[2019-09-02 17:03] michaelstaib commented on #1054
I will post some code later today

[2019-09-02 20:49] michaelstaib commented on #1051
#1055

[2019-09-02 23:04] Stonepaw opened #1056 "How to retrieve the InputType as a Dictionary<string,object>"
I would like to retrieve the argument in a mutation as both the InputType as the Dictionary<string, object>. My use case is to support partial updates where an explicit null means to clear the field and a missing property on the InputType means to leave it unchanged. The difference between undefined and null in json for example.

I investigated using the Argument on the context but was unable to r

[2019-09-03 03:54] shalvin commented on #1036
I had this same issue. I ended up changing `DateTimeType` to `DateType` for my date field. In your sample's `CityType`, you could change the type to be `DateType`.

`descriptor.Field(c => c.ConcertDate).Type<NonNullType<DateType>>();`

The `DateTimeType` uses the CLR type `System.DateTimeOffset`, whereas the `DateType` uses `System.DateTime`.

I think the cause is confusion between the naming of `

[2019-09-03 06:27] louisjacksonrees opened #1057 "Mutations example in the docs"
Would it be possible to add some examples of mutations to the docs? Kind of struggling to figure out how to write them?

[2019-09-03 09:27] louisjacksonrees commented on #1054
@michaelstaib Point #2 worked great ta!

For anyone following this issue my code now looks like:

 public class Query
    {
        private IHttpContextAccessor _contextAccessor;

        public Query(HttpContextAccessor contextAccessor)
        {
            _contextAccessor = contextAccessor;
        }

        public async Task<IEnumerable<Address>> AddressAccess()
        {
            //Use _

[2019-09-03 09:27] #1054 closed

[2019-09-03 14:37] promontis opened #1058 "How to configure a Query based on System.Type"
For example, say I have a `Customer` POCO:
[code]
I can register this via `.AddType(typeof(Customer))`.
I can then configure the `QueryType` as following:
[code]

This works as long as `T` is one of the (POCO, not `ObjectType`) types I've added in the `SchemaBuilder`.

Since the resolver is typed it can determine the result type of the query to be of `Customer`.
I can now execute the following gra

[2019-09-03 15:33] promontis commented on #1058
I seems this overload `IObjectFieldDescriptor Resolver(FieldResolverDelegate fieldResolver, Type resultType)` is working correctly if the `resultType` is `typeof(IEnumerable<Customer>)`.

I've added a PR (#1059) so that we first check to see if the `resultType` is generic to prevent the `InvalidOperationException`

[2019-09-03 16:01] TristanTDev opened #1060 "Query Variables for Subscription Parameters not working."
**Describe the bug**
When creating a subscription using a GraphQL client (In my case the GraphQL Playground Desktop App), if query variables are used instead of "hard-coded" values for the subscription parameter, the subscription does not received notifications.

[code]
Produces the correct response when a subscription notification is created for this user (`01566d84-4811-4959-b479-1b8f74376c77`).

[2019-09-03 17:06] michaelstaib commented on #1056
So, while you cannot get it as a  Dictionary<string, object> out of the box with V10 you cab get it as a object literal. Which gives you the same capabilities as the dictionary. We have used this for the filter implementation.

`var x =  context.Argument<ObjectValueNode>()`

[2019-09-03 17:21] michaelstaib commented on #1058
Hi @promontis,

thanks for your effort.

The original code seems to always assume that we have a generic type. I have to look at this more closely why this is written like that.

We need some tests that show the error and prove that the fix works here.

I will look at it tomorrow and probably write some tests for this.

[2019-09-03 20:31] promontis commented on #1058
@michaelstaib that would be awesome!

I think the original is just a bug, since it does check whether the type is generic or not.

[2019-09-04 03:00] Stonepaw commented on #1056
Perfect. I can make use of `ObjectValueNode` for my use case.

Thanks!

[2019-09-04 03:35] acelot commented on #1052
@michaelstaib I have found some info about ContextData. As I understand it, I can set context data only via middleware in `Startup`? How to set data in declarative way with field definition?

[2019-09-04 09:59] #1056 closed

[2019-09-04 10:29] michaelstaib commented on #1052
@acelot sorry for the wait. No context data are everywhere. So any object field etc has custom context data ....

Accessing ContextData

[code]

Setting context data.

``csharp
descriptor.Extend().OnBeforeCreate(c => c.ContextData["foo"] = "jfkdjslf")
[code]

[2019-09-04 11:49] #1052 closed

[2019-09-05 21:59] promontis commented on #1058
@michaelstaib how is it going? Can I help you with anything?

I got a related question for you if possible...

When I try to specify a `.Type()` for say `IArgumentDescriptor` or `IInputFieldDescriptor`, I would like to type it using a `string`. It might sound weird, but I'm 'dynamically' creating the schema for some parts.

I've tried adding something like the following:
[code]

and

[code]

And i

[2019-09-06 07:55] michaelstaib commented on #1058
Sorry, I am out with a migraine for the last two days... still not up to 100% so I will look at this on Monday.

[2019-09-06 08:27] promontis commented on #1058
@michaelstaib no pressure... take your time 🤗

[2019-09-06 11:52] jurby commented on #602
Thank you for your answer. It will be great. I will try to direct the use of grpc / grpc-web in the project that it would be made public as an extension eg `HotChocolate.AspNetCore.Grpc` or `HotChocolate.Grpc`. Would this namespace be suitable?

[2019-09-06 19:02] michaelstaib commented on #602
HotChocolate.AspNetCore.Grpc

[2019-09-08 22:33] nigel-sampson opened #1062 "Distinguish between HTTP and remote schema errors"
Currently when there is a failed request to a remote schema `HttpQueryClient.`FetchInternalAsync` will throw an exception via `EnsureSuccessStatusCode`.

This exception is being caught in the `ExceptionMIddleware` in the query delegation pipeline configured in `StitchingQueryExecutionBuilderExtensions.UseQueryDelegationPipeline` and turned a regular unexpected error.

At this point the remote erro

[2019-09-09 20:52] badre429 commented on #793
@michaelstaib take a look at this library [Graphity](https://github.com/WiredUK/Graphity) it has great approach  it take me two line to add a graphql api to my project based on my NorthwindDbContext (efcore context)
[code]
***Graphity*** two line and ready to go

[2019-09-09 20:57] michaelstaib commented on #1058
@promontis  is your issue solved with the pr?

[2019-09-09 21:00] promontis commented on #1058
Partly I think, still wondering what the logic is for providing an Argument Type.
This question... https://github.com/ChilliCream/hotchocolate/issues/1058#issuecomment-528606798

[2019-09-09 21:02] michaelstaib commented on #793
We have something similar in mind although we do not want to bind solely to EF.

I also want to just add an sql server with 1000 tables and do not worry about ef issues.

Moreover I want to support subscriptions with Mongo or Postgres.

[2019-09-09 21:09] michaelstaib commented on #1058
did you see that you can pass in a string as name string. so you do not have to create a new name string object.

So the argument... let`s say you have an argument that you want to pass in your field, then you can declare the argument with that.

Also if the argument was inferred then you can specify more details or override the inferred argument.

you can access the argument through the context .

[2019-09-09 21:11] OneCyrus commented on #793
in addition to michael's reasons, the magic strings for filtered queries aren't that great for graphql too. this will limit the power of schema/query validation quite a bit.

[2019-09-09 21:14] michaelstaib commented on #1058
ah... ok so if you do that `a.Type(new CustomInputType(type))` then you register a specific type here. this type can only exist once.... so if you create another instance with the same name then you get an error.

better is to use the generic type. We also have an open issue to have something to have a named reference to a type.

At the moment this can be done to the syntax api which is not so nic

[2019-09-09 21:14] michaelstaib commented on #1058
I have a view more refinements for the schema builder planned for 10.1.0 that will improve this.

[2019-09-09 21:16] michaelstaib commented on #1058
The PR is merged.

[2019-09-09 21:19] michaelstaib commented on #1058
Since the PR was on the master it is now in version 11. I will create a preview in a view minutes. I think I will cherry pick this change tomorrow into the version_10_0_0_master branch so that we get it into the patch build.

[2019-09-09 21:19] promontis commented on #1058
Yeah, I think the named reference to a type would solve the issue I have.

I have several hundreds of types in my domain. I could specify them all by hand, but I rather not.
I now just use reflection to discover the types and that works great. I do need to specify the queries, but they are all the same structure for each type. It works great with the newly merged PR for queries (resultType is the

[2019-09-09 21:24] michaelstaib commented on #1058
This is what you can do now.
`desc.Type(new ListTypeNode(new NamedTypeNode("Foo"))`

We just want to have a nicer syntax for the new version.

Also did you know that you also can just register types and we will infer all the schema stuff.

[code]

Sometimes people do not realize.

Also the rules on how we infer types can be overridden or modified.
You can even register your own set of attributes e

[2019-09-09 21:25] michaelstaib commented on #1058
You can also extend those types... with type extensions etc...

[2019-09-09 21:27] michaelstaib commented on #1058
With type extensions you can also split your query types ...

[2019-09-09 21:52] michaelstaib commented on #1058
https://www.nuget.org/packages/HotChocolate/11.0.0-preview.13

[2019-09-10 10:15] qina83 commented on #1025
Is there a road map for 10.1.0 delivery?

[2019-09-10 11:48] michaelstaib commented on #1025
@qina83 end of next week

[2019-09-10 11:57] qina83 commented on #1025
@michaelstaib thx

[2019-09-10 15:47] michaelstaib commented on #1062
I have merged the changes now also to V11. So we have it now in both versions. I am closing this issue.

[2019-09-10 15:47] #1062 closed

[2019-09-10 16:54] michaelstaib commented on #1058
TODOs:
- [ ] merge change to 10.1.0

[2019-09-10 19:20] michaelstaib commented on #1025
We found the issue. The problem seems to be the way we populate the execution services. I think we will have a fix for this tomorrow as a preview.

[2019-09-10 20:15] #1025 closed

[2019-09-10 20:16] michaelstaib commented on #1025
https://github.com/ChilliCream/hotchocolate/releases/tag/10.1.0-preview.8

[2019-09-10 21:23] michaelstaib opened #1067 "Ensure Nested Fields in Stitching Work"
We need to take the following case under test.

[code]

This should even work if we nest it further:

[code]

[2019-09-10 21:29] DenisPav opened #1068 "Correctly scoping EF context"
Hi, I was wondering what was the correct way of scoping EF context when for example we try to resolve multiple fields/queries which actually use context each on their own? For example lets say that this is actual GraphQL query you want to resolve:
[code]
For that for example I have this field/resolver definition in HotChocholate (Note that DatabaseContext is actually EF DbContext implementation) :

[2019-09-10 21:36] michaelstaib commented on #676
Just to give an update on this ... we have added a lot of smaller fixes fir this. We are not yet switching the button, but we have updated most of the algorithms handling types. There are still some the expect a fixed four level type structure especially when we infer types but this one is being worked in.

The client especially brought a ton of fixes for that .... I expect this one to be fixed in

[2019-09-10 21:57] michaelstaib commented on #1068
I will answer you tomorrow...

[2019-09-11 05:08] jkporter opened #1069 "Extend for Fields not executing"
**Describe the bug**
Attempting to add metadata to ObjectFields, but OnBeforeCreate doesn't seem to execute. Is this the proper way to add meta data?

***Sample code***
[code]

[2019-09-11 20:33] michaelstaib commented on #1068
This would be quite expensive and slow things down considerably.

I am still thinking on how to really solve this thing. We want to be able to resolve in parallel but we also might want to pool the contexts so that we do not get to many and work efficiently with our resources.

For the moment transient is the best you can do here. We are working on something called query execution plans which will

[2019-09-11 20:35] michaelstaib commented on #1068
ASP.net core passes a request service provider that is scoped per request. `[Service]` defines that the argument has to be resolved by using the request service provider.

[2019-09-11 20:39] michaelstaib commented on #1068
You could do this but it might actually be better to resolve the context as service like you do now and then get rid of it with the middleware. The middleware would have to be the first middleware in the pipeline.

Also I think all of this not as it should be. The whole thing should be easier and we will put a lot of effort in making this effortless with V11.

[2019-09-11 20:40] DenisPav commented on #1068
Awesome, thanks for a quick reponse. I'll keep track of the releases then (until then Transient it is) 😄.

[2019-09-11 20:41] michaelstaib commented on #677
Just as a reminder for myself:

- Handling of shared resources
- Handling of pooled resources

[2019-09-11 20:46] michaelstaib commented on #1068
#677

[2019-09-11 23:03] nigel-sampson opened #1070 "Visual Studio 2019 Package Restores failing"
A number of the solutions in the project fail when restoring dependencies with the error.

[2019-09-11 23:26] nigel-sampson commented on #1067
It looks like existing unit tests are already covering this with https://github.com/ChilliCream/hotchocolate/blob/b1b82414f437d069d133061153a0f002196a2310/src/Stitching/Stitching.Tests/__resources__/Stitching.graphql#L10

[2019-09-12 08:40] KosmoKeLi opened #1072 "Authorize directive with policy breaks result"
**Describe the bug**
Authorize() directive with policy breaks results when querying multiple mixed fields (secured/unsecured).

**To Reproduce**
[code]

**Expected behavior**
When adding Authorize() directive on a Field() with a Policy name and then querying multiple results I expect to get the result of the field(s) that does not have an Authorize() directive and an AUTH_NOT_AUTHORIZED on the pro

[2019-09-12 13:29] p-smith opened #1074 "Input object is not validated when given entirely as a variable"
**Describe the bug**
Input objects are not validated in queries when a variable is used to hold the entire input object.

**To Reproduce**
Consider the following schema:

    input MyInput {
        someField: String
    }

    type Query {
        x(arg: MyInput): String
    }

The following query will fail correctly with "The specified input object field `clearlyNonsense` does not exist.":

[2019-09-12 13:36] gmiserez opened #1075 "Feature-Request: Add Diagnostic Events for the Start and End of the Stitching process + trigger Stitching on startup"
Hi,

We currently use HotChocolate remote schema Stitching (builder.AddSchemaFromHttp(...)).
While we're very satisfied by its ease of use, we encounter some suboptimal behaviors with it.

The stitching is currently not done on Startup but only once the first query is received. Sometimes we encounter delays on some queries which we believe are due to kubernetes having restarted a pod, which means

[2019-09-13 10:37] gmiserez commented on #1075
Thank you @nigel-sampson this is a really nice solution!

[2019-09-13 15:31] michaelstaib commented on #1051
I Have now implemented the type and will release a first preview ... 10.2.0-preview.1.

I still need to write mire tests for this one.

If you want to have a look how this type works  head over to the unit tests here:
https://github.com/ChilliCream/hotchocolate/blob/any_type/src/Core/Types.Tests/Types/Scalars/AnyTypeTests.cs

[2019-09-13 15:34] michaelstaib commented on #1051
I still have to smooth out the implementation so feedback is appreciated.

Important we are not using json.net here. This is done by our own parser. So there are now JObjects... Since GraphQL is transport agnostic there should be no json type. So the any type can be anything.

You can also get as anything. The type is in it serialized state and IReadOnlyDictionary<string, object> or IReadOnlyList<

[2019-09-13 16:06] michaelstaib commented on #1051
https://github.com/ChilliCream/hotchocolate/releases/tag/10.2.0-preview.1

[2019-09-13 20:26] michaelstaib opened #1078 "Write AnyType Documentation"

[2019-09-13 20:27] michaelstaib commented on #1051
#1078

[2019-09-13 20:28] michaelstaib commented on #1078
#1051
#1055

[2019-09-13 21:32] michaelstaib commented on #1051
We have merged it now and will close this issue... the new version is now in preview.2.

[2019-09-13 21:32] #1051 closed

[2019-09-16 15:07] promontis commented on #1058
@michaelstaib the `11.0.0-preview.13` works great!

That doesn't seem to work for `IArgumentDescriptor`. That class needs a `TInputType where TInputType : class, IInputType`

`ListTypeNode`, nor `NamedTypeNode` is of `IInputType`.

Would it be ok for you if we'd add on `IObjectFieldDescriptor` either
1) `IObjectFieldDescriptor Argument(NameString argumentName, IArgumentDescriptor argumentDescripto

[2019-09-16 22:55] michaelstaib commented on #1058
https://github.com/ChilliCream/hotchocolate/blob/b98611ad23665b755015c6734ed232dbcce385de/src/Core/Types/Types/Descriptors/Contracts/IArgumentDescriptor.cs#L29

[2019-09-17 11:07] michaelstaib commented on #1058
OK, I have looked at the APIs more closely and I think I understand what you want now much better.

Two things, I want the API to be consistent so I do not want to just and something extra in one place. So, we should introduce `descriptor.Type(Type type)` everywhere we have these three type overloads including the object field descriptor, interface descriptor, input field descriptor and so on.

I

[2019-09-17 11:09] michaelstaib opened #1079 "Introduce non-generic type descriptor method `descriptor.Type(System.Type).`"
#1058

For dynamic schema creating it would be useful to have a new `Type` description method that can be used to dynamically set types.

We need to write some validation logic that ensures the type context is always correct (input vs output).

Places where we have a type context:

- Object Fields
- Object Field Arguments
- Interface Fields
- Interface Field Arguments
- Input Fields
- Directive Ar

[2019-09-17 11:09] michaelstaib commented on #1058
The new issue is here #1079 I will write down what we have to do to fulfill this.

[2019-09-17 11:10] #1058 closed

[2019-09-17 15:30] promontis commented on #1079
@michaelstaib I've created a PR for this enhancement. Is it ok like this?

[2019-09-17 16:29] michaelstaib commented on #1079
I will have a look at it later or in the morning.

[2019-09-17 20:27] michaelstaib commented on #1078
https://hotchocolate.io/docs/custom-scalar-types#any-type

[2019-09-17 20:28] #1078 closed

[2019-09-17 20:29] michaelstaib opened #1082 "Add context.ArgumentKind(name)"
For the new any type it would be great to ask the context what the value kind for a certain argument is.

[2019-09-17 20:32] michaelstaib opened #1083 "Remove Old Build Files"
- https://github.com/ChilliCream/hotchocolate/blob/master/.bettercodehub.yml
- https://github.com/ChilliCream/hotchocolate/blob/master/.travis.yml

[2019-09-17 20:34] #987 closed

[2019-09-18 14:12] promontis commented on #1079
@michaelstaib did you already manage to have a look? :)

[2019-09-18 14:22] michaelstaib opened #1084 "Sanitize types during schema creation."
We should remove unused types after all types are completed. This sanitize should have a flag to opt-out.

[2019-09-19 12:16] michaelstaib opened #1086 "Align GraphQLException (Client/Server)"

[2019-09-19 15:46] michaelstaib commented on #1079
https://github.com/ChilliCream/hotchocolate/releases/tag/10.2.0-preview.4

[2019-09-19 15:46] #1079 closed

[2019-09-23 00:48] Flamage82 opened #1087 "Allow custom variable names for filtering / sorting"
**Is your feature request related to a problem? Please describe.**
The variable names for filters / sorting are hard-coded to `where` and `order_by` respectively.  Our code style enforces camelCase variables and it would be preferable if we didn't need to convert names in our codebase.

**Describe the solution you'd like**
We'd like to be able to customise these variable names, as `order_by` doesn

[2019-09-25 09:43] AALGate opened #1088 "Querying a type with multiple variables ( variables based on Fields )"
Good morning,

it is my first time to try GraphQL and i came to this repo, which i can find it's great !

I have a project that i am working on, and i need to query an Entity based on multiple parameters which are their properties.

for example, i have an Entity called  ( Booking ) , this Entity has multiple properties like

Booking
{
  Id : int
  ContactEmail : string
  RoomsBookingDetails : (typ

[2019-09-26 02:04] nigel-sampson commented on #1067
You're right, just tested something locally and the following delegation fails.
[code]
The exception is `Expected a name token: (.`
[code]

[2019-09-26 05:38] michaelstaib commented on #1067
I think the parser should be a easy to fix... will give it a try today.

I think I will write some tests for this and then we see what crashes next.

[2019-09-26 09:09] AALGate commented on #1088
Note: i am using Elastic Search as a Data Source

[2019-09-26 15:16] michaelstaib commented on #1088
So, you want to query an elastic search server?

What you can do if elastic search does not support `IQueryable` is to implement a query rewriter. The Filter API can be extended by implementing a query visitor.

Here is an example how we did it for queryable.
https://github.com/ChilliCream/hotchocolate/blob/master/src/Core/Types.Filters/QueryableFilterVisitor.cs

[2019-09-26 15:21] michaelstaib commented on #1088
If you need help to implement it for nest head over to our slack channel.

[2019-09-26 15:25] AALGate commented on #1088
That's fantastic, i really appreciate your great help.
Thank you very very much

Please let me know the Slack channel as the Invitation is no longer active

`https://hotchocolategraphql.slack.com/join/shared_invite/enQtNTA4NjA0ODYwOTQ0LTBkZjNjZWIzMmNlZjQ5MDQyNDNjMmY3NzYzZjgyYTVmZDU2YjVmNDlhNjNlNTk2ZWRiYzIxMTkwYzA4ODA5Yzg`

[2019-09-26 17:18] michaelstaib commented on #1088
OK, fixed the invite link.

https://join.slack.com/t/hotchocolategraphql/shared_invite/enQtNTA4NjA0ODYwOTQ0LTViMzA2MTM4OWYwYjIxYzViYmM0YmZhYjdiNzBjOTg2ZmU1YmMwNDZiYjUyZWZlMzNiMTk1OWUxNWZhMzQwY2Q

[2019-09-26 21:01] nigel-sampson commented on #1067
I think the interesting things past the parser will be dealing with the case then there's multiple cases of this happening at the same time. The stitching query will need to alias the second one to avoid `The query has non-mergable fields`.

[2019-09-29 05:51] tanekim77 opened #1091 "Relay example"
I was trying to following documentation regading to relay, but getting errors.

I think it would be very helpful if there is a minimul working example that implements relay. Thanks!

[2019-09-29 07:48] Daniel15 opened #1092 "Star Wars example doesn't run"
Trying to follow the instructions at https://hotchocolate.io/docs/example-star-wars-code-first.html to test out the "Star Wars" example. It starts on a different port to what's documented (1293, not 5000), and hitting `/playground` just gives me a 404 error.

**To Reproduce**
Steps to reproduce the behavior:
[code]

Try to load http://localhost:1293/playground

**Expected behavior**
Should work

*

[2019-09-29 09:13] michaelstaib commented on #1092
I think your uri is wrong. .../graphql/playground

[2019-09-29 09:14] michaelstaib commented on #1092
Ah sorry you are using the template... let me check

[2019-09-29 17:35] Daniel15 commented on #1092
I was trying the URL that was provided on the site. Perhaps the site is
wrong.

Sent from my phone.

On Sun, Sep 29, 2019, 2:14 AM Michael Staib <notifications@github.com>
wrote:

[2019-09-29 18:16] michaelstaib commented on #1092
Hi @Daniel15,

the site is invalid... http://localhost:5000/graphql/playground/ works ...

Do you want to do a docu pull request?

Really appreciate your help on this project 👍

[2019-09-29 20:03] Daniel15 commented on #1092
Thanks for confirming~ /graphql/playground works for me. Submitted a PR to fix the docs: https://github.com/ChilliCream/hotchocolate-docs/pull/49

[2019-09-30 09:58] #1092 closed

[2019-09-30 15:43] michaelstaib commented on #1088
@AALGate  Can I close this issue?

[2019-09-30 15:46] michaelstaib commented on #1091
Hi @tanekim77,

I will upgrade the documentation with an example and explain how we are (on the server-side) implementing the three relay specs.

It is really easy but I agree that we should have an example for this.

We are planing the next release for the 15th of October and I will include the example with the release.

[2019-09-30 21:26] michaelstaib opened #1095 "Support for Default Values with Client Generator"
[code]

or

[code]

[2019-09-30 22:11] michaelstaib opened #1096 "Support for custom client with the client generator."

[2019-09-30 22:13] michaelstaib opened #1097 "Support to spread fields of a client selection set onto its parent."

[2019-09-30 22:14] michaelstaib opened #1098 "Support for persisted queries on the client API"
- [x] Migrate to new type generator. **In Progress**
- [x] Add query hashes to the generator output.
- [x] Update tooling to be able to write out the persisted queries in the relay format.
- [x] Allow the tooling to export and upload the persisted queries.
- [x] Make hash configurable

[2019-09-30 22:16] michaelstaib opened #1099 "Support for auto-batching and manual-batching for the client api"

[2019-09-30 22:16] michaelstaib opened #1100 "Support for subscription on the client API"

[2019-09-30 22:18] michaelstaib opened #1101 "Support for local resolvers on the client api"

[2019-09-30 22:19] michaelstaib opened #1102 "StrawberryShake does not need the local tool to generate."

[2019-10-01 09:26] AALGate commented on #1088
Yes, thanks a lot @michaelstaib

[2019-10-01 15:54] AALGate opened #1103 "Authorization with JWT"
When i used Web API , i used the attribute [Authorize] above the controller
    [Authorize(AuthenticationSchemes = JwtBearerDefaults.AuthenticationScheme)]

i have installed the Authorization package of hotchocolate.

I wonder how i can reach the same approach with
`descriptor.Authorize();`
in my overrided configuration method

how i can pass "AuthenticationSchemes "  to the Authorize() method

--

[2019-10-01 21:02] michaelstaib commented on #1103
Hot Chocolate provides directives for authorization but does not do authentication. The bearer schema has to be configured with authentication.

For authentication refer to the ASP.NET documentation.

Once you have setup authentication you can use use policies, roles or just the authenticated check provided by the authorize directives.

https://hotchocolate.io/docs/authorization

[2019-10-01 21:03] michaelstaib commented on #1103
If you mean the HttpContext then register the `IHttpContextAccessor` and use dependency injection.

[2019-10-02 08:45] #1088 closed

[2019-10-02 10:43] AALGate commented on #1103
Thanks a lot for the help.

But, i have tried fetching the context with `IHttpContextAccessor`  before i created this issue. unfortunately, not all properties are fetched !

for example the `body` stream, is not fetched !

[2019-10-02 16:22] michaelstaib commented on #1103
What do you actually want to do?

[2019-10-03 03:58] skmunichetty commented on #877
This worked for me
app.UsePlayground(new PlaygroundOptions { QueryPath = "/graphql", Path = "/playground" });

[2019-10-03 08:41] AALGate commented on #1103
well, i tried to catch the body as a stream

the body, i mean, the query itself

[2019-10-03 09:08] robotrick commented on #827
@michaelstaib: is there any news about the support of apollo federation?

[2019-10-03 11:11] michaelstaib commented on #827
This is what we can do today:
https://hotchocolate.io/docs/stitching

This very issue is scheduled for version 12 or 13.

[2019-10-03 11:13] michaelstaib commented on #1103
You cannot do that since the middleware has already consumed the body. You can however access the parsed body through the `IResolverContext`.

[2019-10-03 18:31] JEvason90 commented on #1083
Hi are you looking to have those files removed?

[2019-10-03 19:13] michaelstaib commented on #1083
jup .... on the version_10_master

[2019-10-03 22:22] #1083 closed

[2019-10-04 09:53] michaelstaib opened #1109 "Allow schema validation rules to be customizable and configurable through the schema options."
- GitHub schema rules
- HC schema rules

[2019-10-06 23:27] nigel-sampson opened #1112 "Rewriting remote error paths"
Just wanted to start a discussion about remote error paths during schema stitching.

Currently if the server doesn't return a path on the error then `DelegateToRemoteSchemaMiddleware` doesn't add a path to the error object. This means for things like HTTP errors or other errors from the remote schema then on the stitched schema we don't have any error path to make diagnostic decisions.

Would it m

[2019-10-07 08:32] clayu opened #1113 "WebSocketSession Lifetime event - OnDisconnect"
I would like to add a listener to the disconnect event for a subscription.

Ideally it would trigger when a session has ended, either by the client explicitly calling the stop event or when the token is canceled (due to browser closing/crashing).

[2019-10-07 09:54] michaelstaib commented on #1112
My reasoning behind that decision was that if there is no path that it is actually a global error. If we now add a path this could lead to errors be added to fields that they do not belong to.

While this might not be a problem with a single call it becomes a problem with batching.

The stitching layer merges multiple requests sends those to the remote schema in one call and after receiving the re

[2019-10-07 09:56] michaelstaib commented on #1112
Concerning HTTP errors. The errors are actually not remote errors but errors in the stitching layer itself so we should be able to set the context where they occur.

[2019-10-07 17:57] #1103 closed

[2019-10-07 20:12] drowhunter opened #1114 "Nested Authorized Directive does not evaluate"
**Describe the bug**
Give the following schema
[code]

**To Reproduce**
Outer field only requires Authorization
Inner field requires specific Role

Only Outer Policy gets triggered, Inner field is already authorized so it skips authorization check.

Inner field passes security check and allows me to execute it without Admin Policy being checked

**Expected behavior**
Authorize Policies should stac

[2019-10-07 20:20] michaelstaib commented on #1114
this would not check policy but check if the user has a role claim.

[2019-10-07 20:54] nigel-sampson commented on #1112
That does make sense, one issue here is that a global error on a field stitched in deep in the query looks a lot like a global error on the whole query.

I'll put together a PR for the HTTP case,

I think it may be a good idea to add the schema name as an extension on these errors at the same time to give a bit more context for global errors.

[2019-10-07 22:53] drowhunter commented on #1114
Update:  Issue is bigger than I initially thought

Back to UserProfileGraph  this fails to invoke Middleware and it also fails to invoke the Authorization
[code]
however this works if i don't use `descriptor.Field<T>()`
[code]
Strangely Enough the second one which didnt work when inside of UserProfile
Works when placed at root query level
[code]

[2019-10-07 23:00] drowhunter commented on #1114
Oh and this also works
I added a method into my UserProfile POCO just to test

[code]

[code]

[2019-10-07 23:01] drowhunter commented on #1114
Conclusion
using `descriptor.Field<T>()`

breaks Middleware from executing
break Authorization Directives from executing

[2019-10-08 03:21] drowhunter commented on #1114
Just responding to your questions. Yes anything under viewer requires Authorization in general.  However i plan to have certain fields only accessible via special roles such as Admin.

I have checked the claims and the role is there. And it works in all circumstances where I don't use a ResolverType.  When using a resolver type all Directives and Middlewares inline or class based do not trigger. E

[2019-10-08 07:01] michaelstaib commented on #1114
I will write some tests and see where this leads to.

[2019-10-08 07:27] michaelstaib commented on #1114
So, I wrote a simple test that has three levels with middleware on each field. The field all use the generic field selector.

So, far I cannot see any issue here:

https://github.com/ChilliCream/hotchocolate/commit/75de41d2307e8cfcb1d7fdf6c3be92403e83436f

Can you create a small repro of your issue?

[2019-10-08 07:55] michaelstaib commented on #1114
Added directive middleware into the test and it still performs as expected.

https://github.com/ChilliCream/hotchocolate/commit/8ad68e5856cda441fd948863321a01aeef18cc86

I will wait for your repro.

[2019-10-08 14:39] tunurgitr opened #1117 "HttpGetSchemaMiddleware AllowSynchronousIO error"
**Describe the bug**
In 10.1, with dotnet core 3, using `HttpGetSchemaMiddleware`, I get the following exeption:
[code]
**Desktop (please complete the following information):**
 - OS: Windows 10, also running on docker `mcr.microsoft.com/dotnet/core/aspnet:3.0-alpine`
 - Version 10.1

[2019-10-08 15:55] drowhunter commented on #1114
Ok i figured out what was wrong. Including `descriptor.Include<UserProfileResolverType>();`  causes the ResolverFields below not to have middleware or directives applied. Is this a bug ?

I don't even know why I included that line in the first place what does descriptor.include even do?

[code]

[2019-10-08 17:24] drowhunter commented on #1114
yeah so in your tests add descriptor.Include<ResolverType>();```
 before the fields which use

```Field<ResolverType>();```

and you will see any directives and middleware will be ignored on the fields

[2019-10-08 21:40] michaelstaib commented on #1114
@drowhunter can you post `UserProfileResolverType`?

[2019-10-09 02:06] #1112 closed

[2019-10-09 02:23] drowhunter commented on #1114
here you go

[code]

[2019-10-09 08:28] michaelstaib commented on #1114
Why are you including it?

With include you essentially tell the type to infer the field ... then you are trying to declare the same field explicitly. This is why it fails... your declaration is ignored since you included it first.

[2019-10-09 08:29] michaelstaib commented on #1114
Remove the include and then it will work.

[2019-10-09 08:32] michaelstaib commented on #1114
I will still issue a fix that will remove the previous declared fields.

[2019-10-09 08:33] michaelstaib commented on #1114
OK, I will close this issue and create a new one that deals with duplicate field declarations.

[2019-10-09 08:36] michaelstaib opened #1119 "Duplicate field declarations lead to unpredictable behavior."
If a field is declared multiple times then the first declaration wins not the last. In combination with `Include` this can become confusing to the user of the API.

[2019-10-09 08:36] michaelstaib commented on #1114
#1119

[2019-10-09 08:36] michaelstaib commented on #1119
#1114

[2019-10-09 08:36] #1114 closed

[2019-10-09 14:48] drowhunter commented on #1114
Yes i realized this when I removed the Include.  But it was rather hard to track down, , the fix you are creating in #1119 will fool proof it :)

[2019-10-10 07:29] pingvinen opened #1120 "[question] How do I extend a base graph type"
Hi

I have a situation where I would like to expose a clean graph for consumers (at `/graphql`) of my service and a bigger graph for my back-office system (at `/private_graphql`).

I am using the **HotChocolate 10.1.0** package.

### This is what I am trying to achieve

A **shared** base type for a `User`

[code]

A **public** version of `User`

[code]

A **private** version of `User`

[code]

###

[2019-10-10 07:44] michaelstaib commented on #1120
Hi,

it is possible with extensions. You basically have to `SchemaBuilder` instances and add the extension types that are specific to a schema to the corresponding type.

[code]

[code]

https://hotchocolate.io/docs/schema-object-type#extension

In the shared schema you can also use classes to import resolvers like the following:

[code]

It is important to know that the type is matched by its nam

[2019-10-10 09:22] pingvinen commented on #1120
I made a minimal-ish solution to show the full scope of everything: https://github.com/pingvinen/hotchocolate-issue-1120

Yes. It pointed me in the right direction, but I think the documentation could use some examples like this. The current documentation on "extending types" does not contain any examples and pointed me in the direction of the `descriptor.Name(..).Extend().On*` methods. I used the

[2019-10-10 09:22] #1120 closed

[2019-10-10 10:05] michaelstaib commented on #1120
Just as a side note:

https://github.com/pingvinen/hotchocolate-issue-1120/blob/e1f91d15a40cd3e9703bdd07cc7327b638f4e8a5/GraphStuff/Endpoint/GraphQlService.cs#L26

Building the schema is expensive ... so make sure that you store the schema somewhere and do not build it on every request.

[2019-10-10 10:06] pingvinen commented on #516
In my opinion it is very risky to see "Abc" as 1 thing and "abc" as another. I always make my APIs ignore the casing of enum values - hence I am all for making this change. I think it produces more robust solutions.

[2019-10-10 10:07] michaelstaib commented on #1120
`Extend()` is meant for extensions like providing a entity framework extension or a paging extension etc.

I will add some more documentation.

[2019-10-10 11:22] michaelstaib commented on #516
The issue here is that GraphQL and C# are both case-insensitive so you cannot just convert it. It might be ok to do that in a specific project but for a library this can lead to frustrations for the user.

[2019-10-10 11:35] jurby commented on #602
@michaelstaib Created draft for grpc support in project https://github.com/ChilliCream/hotchocolate/pull/1122. Please check if it's ok.

[2019-10-10 12:03] pingvinen commented on #1120
Thank you. This actual codebase is 2 days old at the moment, so it is still early days :)

[2019-10-11 10:37] michaelstaib opened #1125 "Allow input object serialization to be overriden"

[2019-10-11 20:02] PascalSenn commented on #1037
@michaelstaib  I'm not sure if this is related to the filters directly

[2019-10-11 21:48] michaelstaib commented on #1037
Ah, you could be right ... since they are represented as string literal ...

[2019-10-12 09:53] PascalSenn commented on #923
@michaelstaib  sorry totally lost track of this issue.  Was around the time I was in service.

##Default naming
####Prisma
[image](https://user-images.githubusercontent.com/14233220/66699193-d31b6f80-ece4-11e9-8297-a3b93df2bf77.png)
#### Hasrua
![image](https://user-images.githubusercontent.com/14233220/66699285-c21f2e00-ece5-11e9-8a00-9de7157cfed6.png)

I personally think OrderBy makes sense too.

[2019-10-13 10:00] michaelstaib opened #1126 "CancellationToken is not correctly passed to the query context."
https://github.com/ChilliCream/hotchocolate/blob/a573d1896894093dcd35ee6347542cd39025420c/src/Core/Core/Execution/QueryExecutor.cs#L46

[2019-10-13 11:15] michaelstaib opened #1127 "Add support dynamic on Any type."

[2019-10-13 12:07] glucaci opened #1128 "Custom type for default input parameter to be conform with nullable projects in C#8.0"
When defining a query or mutations, we should have a possibility to specify a default parameter which dosen't resolve to null object in case of non-nullable projects.

### Example:
[code]

This definition of `AddAsync` method will have an `Warning` if the projects has `nullable` feature enabled.

`Warning	CS8625 : Cannot convert null literal to non-nullable reference type`

### Proposal:
[code]

[2019-10-13 22:40] michaelstaib opened #1129 "The MaxComplexity middleware with multipliers does not seem to work."

[2019-10-14 10:12] PascalSenn commented on #1037
I'm not sure if this solves the problem 👀

[2019-10-14 19:10] #1128 closed

[2019-10-14 21:21] #1126 closed

[2019-10-14 21:23] michaelstaib commented on #1126
This issue is fixed with 10.1.1.

https://github.com/ChilliCream/hotchocolate/releases/tag/10.1.1

[2019-10-15 03:31] tohagan opened #1135 "Authorization example code in documentation for GraphQLMiddlewareOptions is obsolete."
**Describe the bug**

Example code in https://hotchocolate.io/docs/authorization#query-requests shows configuration of middleware using `GraphQLMiddlewareOptions.OnCreateRequest`  which is marked as obsolete in the v10.1.0.

Example code should now use `serviceCollection.AddQueryRequestInterceptor()` as per obsolete message on `GraphQLMiddlewareOptions.OnCreateRequest`.

[2019-10-15 11:48] michaelstaib opened #1136 "MaxComplextity with multipliers does not recognize default values."

[2019-10-16 00:11] tanekim77 commented on #1091
Thanks, Today is 15th, and may I please know where I can get that example? Thanks!

[2019-10-16 08:36] michaelstaib commented on #1091
Hi @tanekim77 we are still working on the release... we hope to get it done this week. I will keep you posted.

[2019-10-16 13:41] teevans opened #1139 "Stitching with a down endpoint"
**Describe the bug**
When creating a stitched schema, if one of the services references from the stitching is unreachable, the service will not return any requests.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a stitching service that references an unreachable url, and a working url.
2. Run the service
3. Attempt to open playground and see the services

**Expected behavior**
I woul

[2019-10-16 15:37] PascalSenn opened #1140 "Filter/Sorting/Aggregation User Extension"
Filter/Sorting/Aggregation User Extension

*FilterFieldDescriptors and Implicit creation*
Filter are build with those components:
1)	FilterInputTypeDescriptor<T>.TryCreateImplicitFilter

In this method the filters are implicitly generated like the following

[code]

2)	FilterFieldDefinition
In the filter field definition is everything stored that we need to build the filter and to build the querya

[2019-10-16 19:25] michaelstaib commented on #1139
Hi @teevans,

you can actually do this. The schema files in this case have to be provided as files with the gateway. In this scenario the gateway would only fetch the data from the GraphQL server but not the schema.

We will add more functionality around this with version 12.

[2019-10-16 19:36] OneCyrus commented on #1139
and use something like polly as a circuit breaker with your httpclient factory.

https://github.com/App-vNext/Polly

[2019-10-16 20:10] nigel-sampson commented on #1139
We use `AddSchemaFromFile` from file to handle these cases. This also gives us another useful behavior in being able to opt into a subset of the remote schema.

Ultimately if you're using `AddSchemaFromHttp` the stitching layer can't build a schema to return till it actually gets the remote schema, if that's down then only a partial schema could be created which is probably worse since queries exp

[2019-10-16 20:31] michaelstaib commented on #1139
@nigel-sampson

Exactly the point. The schema would be unpredictable leading to issues with other GraphQL tooling.

While `AddSchemaFromHttp` is nice for development on a local system `AddSchemaFromFile` is better in production scenarios since then we can create the schema as intended.

[2019-10-17 07:54] michaelstaib commented on #1139
HI @teevans,

I will close this issue since I think the question has been answered.

[2019-10-17 07:54] #1139 closed

[2019-10-17 09:17] michaelstaib commented on #1129
The context reseted the complexity for each level.

[2019-10-17 09:18] #1129 closed

[2019-10-17 15:59] #1068 closed

[2019-10-17 21:42] #1082 closed

[2019-10-17 21:45] michaelstaib opened #1147 "We need to make the DataLoader tests more robust"

[2019-10-18 08:25] louisjacksonrees commented on #1125
Thanks for working on this, what would be the best way of registering my new InputObjectType class?

[2019-10-18 08:38] #1125 closed

[2019-10-18 08:38] michaelstaib commented on #1125
I am closing this issue since implementation is done on this one.

[2019-10-18 08:43] louisjacksonrees commented on #1125
My question is how would i actually implement overriding the deserialisation based on the changes you have made, normally i would create my own input object type and inherit your implementation, and override the methods, how can then register my implementation. I am registering my input object types like so:

[code]

[2019-10-18 10:30] michaelstaib commented on #1125
Do you have your code on GitHub?

[2019-10-18 13:11] louisjacksonrees commented on #1125
No sorry this is closed source for work

[2019-10-18 14:36] michaelstaib commented on #1125
but how does `.AddInputObjectType<IContractor>(x => new Contractor())` work?

is Contractor an input object?

You should not need to add all the types... hc can discover them.

[2019-10-18 20:43] michaelstaib commented on #1037
@PascalSenn  This one should be working now.... I think I will merge the fix into your branch since yours has the tests.

[2019-10-21 07:38] louisjacksonrees commented on #1125
Yeah, IContractor is the input object, and Contractor is what it needs to be deserialised to, currently that does not work with nested properties, hence why i need to override the deserialisation behaviour.

[2019-10-21 12:13] AALGate commented on #1051
Thanks a lot for your help

but how i can define this ANY type in code first ?

there's only an example of "SCHEMA" first : https://hotchocolate.io/docs/custom-scalar-types#any-type

[2019-10-21 13:53] Chrislock1 opened #1149 "Set name for InputFilterType and SortInputType"
**Desired solution**
When writing `.UseFiltering<T>()` and `.UseSorting<T>()` I would like to add a name for the input types in the schema.

[2019-10-21 14:43] stalniy commented on #1051
I think you can find examples in tests for now

[2019-10-21 14:50] AALGate commented on #1051
@stalniy  thanks a lot for your reply

however the link for test is invalid, it gives me 404 error

[2019-10-21 14:56] michaelstaib commented on #1051
https://github.com/ChilliCream/hotchocolate/blob/master/src/Core/Types.Tests/Types/Scalars/AnyTypeTests.cs

[2019-10-21 22:14] michaelstaib commented on #1149
https://github.com/ChilliCream/hotchocolate/releases/tag/10.2.0-preview.10

[2019-10-21 22:14] michaelstaib commented on #1149
The fix is in with preview 10... can we close this issue?

[2019-10-22 06:04] #1149 closed

[2019-10-23 11:19] PascalSenn opened #1151 "Filter Conventions"
This issue extends #1140 by the following
- Introduce IFilterConvention (already par to #1140)
- Introduce another layer of abstraction for Queryable Filters

### Add IFilterConvention
like SQLQueryableFilterConvention, DefaultQueryableFilterConvention, MonogQueryableFilterConvention etc.  (like MongoNativeFilterConvention)

These conventions configure the type of visitor that is used and also wha

[2019-10-23 18:38] michaelstaib opened #1153 "SQL Server Integration Tests for Filters"
We need to setup some sql server filter tests with squadron.

[2019-10-25 13:06] gmiserez opened #1155 "ErrorFilter not triggered when added via IServiceCollection.AddErrorFilter<T>()"
Hi,

We've made an ErrorFilter for a custom exception and tried to add it to the service collection with the method IServiceCollection.AddErrorFilter<T>();
It seems that the ErrorFilter is not invoked when a resolver throws an exception.

**To Reproduce**
Here's a quick unit test to reproduce the issue:

        public class FooException : Exception { }
        public class FooErrorFilter : IError

[2019-10-25 13:15] quazzie opened #1156 "Disable FragmentsMustBeUsed"
**Is your feature request related to a problem? Please describe.**
Need a way to disable FragmentsMustBeUsed validation.
I have a union type where i query it like
[code]

if it return only Type1 items i get an error that fragmentForType2 is not used.

**Describe the solution you'd like**
Not receiving a "The specified fragment `xxx` is not used within the current document".

[2019-10-25 14:50] michaelstaib commented on #1156
That is not what the rule is about.

FragmentsMustBeUsed just analyzes the query document and ensures that the fragment is referenced within the query document.

[2019-10-25 14:52] michaelstaib commented on #1156
The above document is valid by the way and should not trigger that rule.

[2019-10-25 14:52] michaelstaib commented on #1156
Can you maybe create a little repro?

[2019-10-25 19:04] quazzie commented on #1156
Hmm i'll have to check when i get back to work on Monday.

[2019-10-26 06:39] michaelstaib commented on #1156
Great, there is a way to disable it ... but you should not need to, so I want to find out if it is a bug.

[2019-10-26 06:46] michaelstaib commented on #944
https://github.com/graphql/graphql-spec/pull/601

[2019-10-26 09:22] fredericbirke opened #1157 "Subscription is not working with Variables"
**Describe the bug**
Subscriptions will not work when using variables, because when creating subscriptions stream keys, the variables names are used to create the keys, instead of the actual value of the variable.

This results is, that subscriptions that use variables will never receive any messages, because their stream key is never matched.

![image](https://user-images.githubusercontent.com/94

[2019-10-26 10:15] michaelstaib commented on #1157
Thanks for filing this issue. I will look into it once I am back from Kiev.

[2019-10-26 18:35] lTimeless opened #1158 "Code Organization and Authorization Question"
**Describe the bug**
First question:
I'm using multiple querytype and query classes. For example: UserQuery, UserqueryType. And than I have ONE AppqueryType class where I combine all , this file will than be added via ".AddQueryType<AppqueryType>()" in the startup file.
My AppQuerType file looks like this:
[code]
And it works like expected  so I think that is a correct way of doing it. Aand I have

[2019-10-27 09:26] michaelstaib commented on #1158
Hi,

it is one way you can do it.

1. way including resolver types into a type:

[code]

While this is simple and works, you are importing types here and they are inferred. So, you do not have fill control about these fields.

Also the included types and the actual types are strongly coupled.

2. Selective inclusion of fields.

[code]

You can also include fields selectively which gives you more c

[2019-10-27 10:36] lTimeless commented on #1158
Thanks for the **great** response to question one.
Maybe consider adding a small text to the documentation where you say/show how you can include multiple types into one main type class, for a cleaner/organized appquerytype.
For me at least it was not clear by reading the documentation.

Do you have any solution/thoughts to my second question?

[2019-10-27 17:07] tanekim77 commented on #1091
Thanks Michael, please get me posted. Thanks!

[2019-10-27 17:52] lTimeless commented on #1158
After testing out the hole day I can't figure out how to "solve" my problem.
And I think I explained question one a bit wrong.
I want to have one AppQuerytype class that includes all the other type classes, the type classes look, like in every example :
[code]
that is just an example class, for one mutation class, I generated quickly. In "UserMutation" are all the called functions(registerUserAsyn

[2019-10-27 21:13] michaelstaib commented on #1158
In your case you have to use extensions because you cannot merge multiple types..

Include, only includes resolvers from which fields can be inferred.

In your case I would go with the type extensions.

I will give you an answer on your second part tomorrow.

[2019-10-28 02:32] tohagan opened #1162 "Document DataLoaderOptions in either HC or GD API docs"
**Is your feature request related to a problem? Please describe.**

The [Green Donut Docs](https://greendonut.io/docs/introduction.html) describe the [DataLoader interface](https://greendonut.io/docs/dataloader-interface) but omits the [DataLoadOptions API](https://github.com/ChilliCream/hotchocolate/blob/master/src/DataLoader/Core/DataLoaderOptions.cs).    Same applies for [HC docs on DataLoaders

[2019-10-28 02:53] tohagan opened #1163 "DataLoader needing an option for fixed expiring interval (not sliding)."
**Is your feature request related to a problem? Please describe.**

To keep Authorization checks performant, I need to load and cache user objects that have roles which are loaded from an external database or AD service (not in a token claim). Sliding cache expiration is incorrect as that keeps user roles cached for an indeterminate interval when we need them to be expired after a *fixed time inte

[2019-10-28 03:21] tohagan commented on #1163
I noticed that GreenDonut has it's own `TaskCache.cs` for managing sliding time caching.

At a quick glance, it looks to me as though it's implementing the same logic as [IMemoryCache](https://docs.microsoft.com/en-us/aspnet/core/performance/caching/memory?view=aspnetcore-3.0#use-imemorycache) which supports both sliding and absolute timespan cache expiration.

Here's a [thread safe code sample](h

[2019-10-28 10:21] quazzie commented on #1156
My mistake, deep in the errors i discovered i used the wrong name on a type. Because i tried use "fragment on <Misspelled type>" it caused a cascade of errors with the unused fragment error.

[2019-10-28 10:21] #1156 closed

[2019-10-28 10:31] rstaib commented on #1162
Okay, I'm on it.

[2019-10-28 10:33] michaelstaib commented on #1156
Thanks for your feedback.

[2019-10-28 10:44] michaelstaib commented on #1087
@PascalSenn is this fixed in v10 or v11?

[2019-10-28 11:49] PascalSenn commented on #1087
@michaelstaib  it is targeted for 11
We need the conventions for this

[2019-10-28 11:54] PascalSenn opened #1164 "UseSelection"
We could use the power of graphql to only select the data we actually need fom the database.

[code]

[2019-10-28 11:56] michaelstaib commented on #1164
With paging we this is a little more difficult since we have to aggregate the actual fields selected on `nodes` and `edges`. Just as a reminder.

[2019-10-28 11:57] michaelstaib commented on #1087
no problem .... I am just wrapping up 10.2 and then we move this one to 11.

[2019-10-28 11:58] michaelstaib commented on #1087
we should write a little blog post for filtering showing what is possible with 10.2 and what we want to do in version 11.

[2019-10-28 11:58] michaelstaib opened #1165 "Filter Blog Post"

[2019-10-28 11:58] michaelstaib commented on #1087
#1165

[2019-10-28 11:58] michaelstaib commented on #1165
#1087

[2019-10-28 13:04] Darskus3 opened #1167 "Utf8GraphQLReader returns 500 Internal Server Error when request body is empty or []"
Issue:
The response is `500 Internal Server Error`, but not a proper error message when `Utf8GraphQLReader` couldn't parse a request body value.

Steps to reproduce:
Send a request with an empty body or `[ ]` in the body

Expected behavior:
It should return a proper error message like it is done when request body has `{ }` or `[ { } ]`. It has error message `Either the query "property" or the "nam

[2019-10-28 13:12] Darskus3 opened #1168 "Utf8GraphQLReader returns 500 Internal Server Error when request body is empty or []"
**Describe the bug**
The response is `500 Internal Server Error`, but not a proper error message when `Utf8GraphQLReader` couldn't parse a request body value.

**To Reproduce**
Steps to reproduce the behavior:
1. Send a request with an empty body or `[ ]` in the body

**Expected behavior**
It should return a proper error message like it is done when request body has `{ }` or `[ { } ]`. It has erro

[2019-10-28 13:12] #1167 closed

[2019-10-28 13:23] Darskus3 opened #1169 "request.Scheme in SettingsMiddleware is not supporting x-forwarded-proto and x-forwarded-host headers"
**Describe the bug**
`request.Scheme` in `SettingsMiddleware` is not supporting `x-forwarded-proto` and `x-forwarded-host` headers to get the correct protocol.

**To Reproduce**
Steps to reproduce the behavior:
1. Send a request with headers:

Host: example.app.d1.host.zone
User-Agent: curl/7.54.0
X-Request-Id: 78c6ae029992cbd3dc0d7fcbc288901b
X-Forwarded-Host: example.app.d1.host.zone
X-Forwarded

[2019-10-28 15:42] michaelstaib commented on #1167
is this a duplicate of #1168?

[2019-10-28 15:43] michaelstaib commented on #1168
I think we will squeeze this one into 10.2 which we hopefully get out this week :)

[2019-10-28 15:43] michaelstaib commented on #1168
Thank you for reporting this one!

[2019-10-28 16:36] michaelstaib commented on #1074
#1170

[2019-10-28 16:36] michaelstaib commented on #1074
This one is now fixed and will be included in the next 10.2.0 preview.

[2019-10-28 16:36] #1074 closed

[2019-10-28 16:37] michaelstaib commented on #1037
This one os now fixed.

[2019-10-28 16:49] drowhunter opened #1171 "Add ability to configure DataLoaderOptions globally"
I encountered a scenario where I need to alter the way the dataloader works globally by setting the MaxBatchSize

but the delegate dataloaders dont provider a way to pass DataLoaderOptions

as it stands i have a big graph with 100s of dataloaders and would have to refactor all of them just to change how the dataloaders work.

What would be nice would be one or all of the following
1. Add an option

[2019-10-28 18:24] cethia opened #1172 "Standalone stitched schema (Not hosted in asp.net core server)"
Dear all,
first of all thank you for your amazing tool. Respect for the design that allow extensibility (@ directives etc...).

My question:
Is it possible to create an executable stitched schema NOT HOSTED in an ASP.NET Webhost?
The Idea is to create a component that can:
1. return the stitched shema from one to many remote hosts
2. execute a query

[code]
The idea is to have another way for depl

[2019-10-28 19:31] michaelstaib commented on #1172
Hi,

thank you for reaching out. We are planing to expand beyond ASP.NET Core with Azure Functions support. We have introduced some basic abstractions to help along.

The important thing is that you follow the GraphQL HTTP Spec. We have a parser for that and would only need the raw utf8 buffer to parse a valid GraphQL request.

I would not limit it to stitching but provide a way to host a schema.

[2019-10-28 19:39] michaelstaib commented on #1169
Hi @Darskus3, do you want to do a PR?

[2019-10-28 20:38] michaelstaib commented on #1037
I have ported the fix to V10 #1170

[2019-10-28 20:38] michaelstaib commented on #1037
I am closing this issue now.

[2019-10-28 20:38] #1037 closed

[2019-10-28 20:39] michaelstaib commented on #1036
This one works now in V11 and V10.

#1170

[2019-10-28 20:39] #1036 closed

[2019-10-28 20:39] michaelstaib commented on #1035
This one works now in V11 and V10

[2019-10-28 20:39] #1035 closed

[2019-10-28 20:39] michaelstaib commented on #1035
#1170

[2019-10-28 21:41] michaelstaib commented on #1034
This one is now fixed with #1170

[2019-10-28 21:41] #1034 closed

[2019-10-28 21:47] michaelstaib commented on #1033
This one is now fixed #1170

[2019-10-28 21:48] #1033 closed

[2019-10-28 22:45] michaelstaib commented on #1163
It is not incorrect and we use DataLoader also without HC in some projects.

I do not see distributed caches relevant for DataLoader in the near future. We pondered the idea of `IMemoryCache` but abandoned it very early for both HC caching and GD caching because it brings configuration and logging dependencies with it that might not be wanted in some cases.

I think I will talk to a few people abo

[2019-10-29 07:32] Darskus3 commented on #1167
Yes, it is duplicate. Sorry, for that.

[2019-10-29 07:36] Darskus3 commented on #1169
Hi @michaelstaib, sorry, but we do not have capacity for that at the moment.

[2019-10-29 11:57] michaelstaib commented on #1069
Hi @jkporter,

after looking at your example I have to say it is not a bug.

The issue here is that you retrying to use the descriptor within the `OnBeforCreate` method.

But by the time we invoke `OnBeforCreate` the descriptor can no longer be used since it is already executed by that time. Once we begin the type initialization pipeline the descriptor is already done.

However, you can still at t

[2019-10-29 11:57] #1069 closed

[2019-10-29 13:38] michaelstaib commented on #1157
I can proof now that this is a bug. We will issue a fix for this today.

[2019-10-29 14:31] #1026 closed

[2019-10-29 16:16] michaelstaib commented on #1169
I have put it to the backlog for 10.3.0.

[2019-10-29 23:27] michaelstaib commented on #1163
We have talked this one through today.

At the moment GreenDonut and HotChocolate have their own distinct cache implementations. With GreenDonut we decided back when we started that we wanted to have something small and efficient without any dependencies.

We kind of decided to day to shake that a little up.

1) GreenDonut will refine its cache more, so we will take what we learned in both project

[2019-10-29 23:35] tohagan commented on #1163
That all make perfect sense.  I suspect that longer term, MS will continue to enhance their caching (and distributed caching) APIs and you'd want to be able have the option to leverage if needed but correctly abstract it so you'd stuck with it or dependent on it.

For now ... I can around my needs by using IMemoryCache directly in the one place I need it for this caching behavior so no rush at my

[2019-10-30 00:04] tohagan opened #1177 "Implement restricted access to GraphiQL/Playground/Voyager UIs."
**Is your feature request related to a problem? Please describe.**
Apply an Authorization role or policy to restrict access to GraphiQL, Playground, Voyager

**Describe the solution you'd like**

Probably you'd just add an option to specify an authorization policy name in `GraphiQLOptions`, `PlaygroundOptions` and `VoyagerOptions`.

**Describe alternatives you've considered**

Currently we just di

[2019-10-30 07:15] rstaib commented on #1163
@michaelstaib I have nothing to add here since you have already mentioned all the points we discussed yesterday through.

@tohagan Thank you for your contribution!

[2019-10-31 11:03] PascalSenn opened #1178 "Add non generic filter method extension"
Add non generic ways of initializing Filters

before
[code]
after
[code]

[2019-10-31 19:45] PascalSenn opened #1179 "Update Documentation of Resolvers"
Currently the potential of dependency injection into resolvers is not clear.

[2019-11-01 05:04] Relaxe111 commented on #519
Some updates on this issue?

[2019-11-01 05:22] michaelstaib commented on #519
Not yet ...

[2019-11-01 09:04] michaelstaib opened #1180 "HotChocolate Mocking Server"
We want to allow mocking schemas very easily. Basically you add a mocking schema by providing the sdl.

A mocking middleware will then add some defaults. Each default can be overridden with an explicit resolver providing better defaults.

[2019-11-01 13:04] GoodmanEScott opened #1181 "Support injecting services which capture the IResolverContext and other resolver scoped objects"
**Is your feature request related to a problem? Please describe.**
Currently there is not an easy and succinct way to write a service which takes a resolver scoped object (e.g. the IResolverContext) as a dependency.

**Describe the solution you'd like**
Here's an example of a service I would like to implement:
[code]

And here's how I would inject that service into my resolvers:

[code]

**Describ

[2019-11-01 16:35] michaelstaib commented on #1181
@GoodmanEScott thanks for posting this here so we can explore how we can enable this in a nice way and also sort out the performance aspects here.

[2019-11-01 16:40] PascalSenn opened #1182 "Extend UseFiltering by the visitor"
We should add a way to provide the Queryable Visitor to UseFiltering.
This way custom visitor are easier to use

[2019-11-02 03:52] snys98 opened #1185 "Question: Can I config a reversed-dependent resolver just like IObjectTypeDescriptor."
Many thanks for your effort! 😄

I'm trying to use filter with my resolver, but for now, my resolver is `reversed` like this:
[code]
I've noticed that it can be achieved by
[code]
will `reversed` resolver be able to achieve it?

[2019-11-02 07:03] michaelstaib commented on #1185
Hi @snys98,

actually you can use type extensions for that. It is a little different but will still let you use a single resolver.

[code]

With type extensions you can decouple parts of your types.

The issue with providing filtering on an attributes base is that with the next version there are so many options with types that are not easily expressible through attributes.

Filtering is a middlewa

[2019-11-02 07:05] michaelstaib commented on #1185
But it would be cool to have a middleware attribute :)

@PascalSenn what do you think.

[2019-11-02 09:34] snys98 commented on #1185
Yeah, that's what I want, good for `ObjectTypeExtensions`. Additionally, maybe kind of off topic, actually I'm trying to encapsulate my graphql types and resolvers into different modules(WIP).
![image](https://user-images.githubusercontent.com/11873100/68069109-d4e1cb80-fd96-11e9-9581-b20475209387.png)

And connect them through DI like this:
`startup.cs`
![image](https://user-images.githubusercont

[2019-11-02 14:32] activebiz commented on #1158
Hi,

I got similar problem where I dont know how can I include different XYZTypes in the hc. So I got AppQueryType (like above) and then UserQuery, UserQueryType, CustomerQuery, CustomerQueryType and so on. The reason why I need like this because they all can have fields, resolvers, authorization requirements etc.

Its not clear from doc. how to do this? I cant have just one QueryType and one Muta

[2019-11-02 19:16] PascalSenn commented on #1185
I'm up for attributes.
We could do this.

We might as well consider a way of controlling the execution order of middlewares.
So that the middlewares could just be attached and control the

[2019-11-02 19:20] PascalSenn commented on #1185
Not that I would now. We do something similar in one of our projects at work. We basically have builder that composes the repository and the types.
This will be even easier when there are non generic methods for `UseFiltering`,`UseSorting`, and `UsePageing` #1178

[2019-11-02 19:57] michaelstaib commented on #1185
@snys98

So, I do not know AutoFac well enough, but if you are willing to attribute we could introduce autofac packages that basically contain the module system.

[2019-11-02 19:59] michaelstaib commented on #1185
@snys98 what do you actually mean with module system? you want to collect the types from the di and putt them together?

[2019-11-05 12:58] cescoferraro commented on #1177
@michaelstaib  we are going to production with hotchocolate in the upcoming weeks. thankssss!

We would love the Schema Authorization feature.
In our use case we want to be able to secure the introspection query all together.
i think its what @tohagan was refering as Schema Queries v1 global
we are already authorizing all queries and mutations with :hot_pepper: :chocolate_bar:

[2019-11-05 13:04] sellingsolutions opened #1188 "More debugging info needed in general - "unable to infer or resolve a schema type from the type reference""
Hi!

I switched from graphql.net due to hotchocolate having more features and seemingly better documentation.

But one big difference is that I'm getting a lot better debugging info in graphql.net, I find myself getting stuck over and over in HotChocolate.

**I'm able to register some classes just fine and others just fail without any error message beyond:**
[code]

**The types that can't be infer

[2019-11-05 14:54] sellingsolutions commented on #1188
**Having removed my graphql types one by one, I've stumbled upon this:**
[code]

I have no idea why HotChocolate is trying to make sense out of methods on classes, is there a way to ignore them?

**This makes no difference**
[code]

[2019-11-05 15:48] PascalSenn commented on #1188
Hi @sellingsolutions

You can either opt-in or opt-out

By default the fields are infered from the model. (opt-out)
If you would like to ignore a specific field or method just use `descirptor.Ignore(x => x.field)`

You can also opt in
For this behavior you first need to call  `descriptor.BindFieldsExplicitly()`. This way by default the type is empty.

[2019-11-06 07:30] dmeenhuis opened #1189 "How to add authentication to GraphQL endpoint in .NET Core 3.0?"
I've read the section about authorization on https://hotchocolate.io/docs/next/authorization, and it says one could opt in to the authentication provided by ASP.NET.

My project already uses authentication based on JWT bearer tokens plugged into the authentication pipeline provided by ASP.NET, but I'm still not sure how I would go about adding authentication to the GraphQL endpoint.

What's new in

[2019-11-06 08:22] dmeenhuis commented on #1189
I took another stab at this and I managed to get it to work by creating my own endpoint extension which registers the GraphQL middleware.

So now I can do this:

[code]

[2019-11-06 12:25] michaelstaib commented on #1189
We do not secure the GraphQL endpoint with authorization. The Authorization is applied on field, type or schema level with authorization directives.

You just have to apply the authentication middleware before applying the GraphQL middleware.

In the schema you have to then add the authorize directives and use them throughout your schema.

I will have a look at your route implementation. I think w

[2019-11-06 12:27] michaelstaib commented on #1188
Also the exception that is thrown has more information about which type is affected and why.

If you catch the exception in your debugger then you will be able to the the source schema type that is causing it and other objects.

[2019-11-06 12:28] michaelstaib commented on #1188
Having that said, we have this on our list for V11 to provide better help text messages.

[2019-11-06 12:30] michaelstaib commented on #1177
@cescoferraro we have that on our list for V11. So, it will come. We might even push this out with 10.3.0.

[2019-11-06 13:31] dmeenhuis commented on #1189
That's what I gathered from the docs. I don't have a requirement for roles or specific policies and having to add the authorization directive to all of my fields and types (since I need everything to be secured), seemed kind of tedious and error-prone, that's why I opted for just securing the endpoint.

Thanks! My current implementation was the simplest thing I could get to work, by just re-using

[2019-11-06 18:01] michaelstaib commented on #1189
Actually you only have to secure the root types. But we want to introduce schema authorization as well.

Having that said, it is not wrong to put some authorization on the route.

Exactly... we will do a little renovation of the middleware. We already kicked out classic .net owin support, this means that we can create in the first go a cleaner middleware. The next would be to look how we can add r

[2019-11-06 20:23] andrewlutgen opened #1193 "Preserve sort argument order when using variables?"
In cases where multiple order_by fields are specified, it seems that there is not a way to specify or guarantee order when provided as a query variable.

For example, the following query maintains the order of `name` first, then `id`.

[code]

However, if the order_by provided as a query variable, the order cannot be preserved and would end executing as `id` first, then `name`.

[code]

Is there a

[2019-11-06 20:31] michaelstaib commented on #1193
Oh, you are right :) This will actually be fixed with version 11. The issue here is that with V10 the variables are kept in a dictionary structure. The default dictionary has no order since it is basically a hashtable.

The literals on the other hands are kept as object literals which have a field order.

With the next version we have unified this, so it should be fixed then.

[2019-11-06 20:32] michaelstaib commented on #1193
btw, thank you for filing this issue :) 👍

[2019-11-06 20:44] PascalSenn opened #1194 "InputType names of structurally equal types"
When a descriptor is used to define a filter of a child the generated input types collide.
In the example below there are two `BarFilterTypes` generated that are not the same.

The types should really be compared to each other.

Currently the following test is failing
[code]

[2019-11-06 20:45] PascalSenn commented on #1194
The current workaround is to set a name in the descriptor like  `.Name("NestedBarFilterType")`

[2019-11-07 03:14] nigel-sampson commented on #1117
We're in the process of moving some of our services to .NET Core 3 and running to this issue as well.

Updating `SchemaSyntaxSerializer` to be fully asynchronous isn't viable, most of the use cases of `SyntaxVisitor` would be hindered by it being asynchronous.

In the interim we could have `SchemaSyntaxSerializer` write synchronously to an in memory stream and write that asynchronously to the resp

[2019-11-07 05:39] michaelstaib commented on #1117
@nigel-sampson  Yes, this could be a quick fix. I want to rework the visitors for V11 but in the meantime this could be a good solution. Do you want to implement that? I have another fix already in the version_10_0_0 master so we could create 10.2.1 with these two fixes.

[2019-11-07 10:12] snys98 commented on #1185
@michaelstaib sorry, I've been outside for days.

yeah, that's it. I want to separate my type&resolver definition to different modules, collect them to di "module by module", and merge them when build the schema.

[2019-11-07 19:56] nigel-sampson commented on #1117
Yup, I'll handle it sometime in the next few days.

[2019-11-07 21:55] michaelstaib opened #1196 "Create StrawberryShake Template"

[2019-11-08 01:19] tohagan commented on #1177
Actually the bigger issue here is restricting access (or disabling!) introspection queries.
  - https://www.abhaybhargav.com/from-the-trenches-diy-security-perspectives-of-graphql/

[2019-11-08 07:51] michaelstaib commented on #1177
@tohagan that is possible, you can extend the introspection types and restrict them.

[2019-11-08 07:52] michaelstaib commented on #1177
You just have to add our authorize directives.

[2019-11-08 07:58] michaelstaib commented on #1177
So, just regarding security, you can already do a lot with hc to make your endpoint super secure. That is why I do not consider this pressing.

Securing Playground is just securing the route.

But you can already whitelists queries, use persisted queries, put authorization directives on any of your fields / including introspection. You can even put custom middleware on your introspection fields to

[2019-11-08 07:59] michaelstaib commented on #1177
Also, you can add custom query validation rules which could further harden your endpoint.

[2019-11-08 08:09] michaelstaib commented on #1177
Regarding the endpoint security: https://github.com/ChilliCream/hotchocolate/pull/1190

[2019-11-08 08:10] michaelstaib commented on #1194
@PascalSenn thanks for writing that down!

[2019-11-08 10:40] activebiz opened #1197 "Is there a way to plugin 3rd party validation library ?"
Is there a clear way to plugin 3rd party validation library like FluentValidation? If there is then documentation needs to be updated. If not then can it be added as feature request so that its easy to use 3rd party plugin?

Fluent Validation for e.g. works really well with asp.net webapi where its completely unintrusive about how you declare your validation rules and do remote validation etc. Its

[2019-11-08 11:20] michaelstaib commented on #1197
There is since you can completely customs the execution pipeline. The question is where to put such an integration. So, we could validate all arguments of the syntaxttree on validation, which would be fast but variables are not yet coerced. Also the arguments are only available as literals.

Or, it could be added as a query middleware after the variable coercion.

Lastly you could write a field mi

[2019-11-08 11:21] michaelstaib commented on #1197
As a side note @nigel-sampson investigated doing something like that.

[2019-11-08 11:22] michaelstaib commented on #1197
https://hotchocolate.io/docs/middleware

[2019-11-08 14:28] activebiz commented on #1197
I am doing following

`            descriptor.Field<SalesPersonMutations>(f => f.CreateSalesPerson(default))
                .Use((services, next) => new MyValidationMiddleware<SP_GetSalesPersons>(next, new CreateSalesPersonValidator()));`

The middleware is as follows:

`    internal class MyValidationMiddleware<T>
    {
        private readonly FieldDelegate _next;
        private readonly Abstr

[2019-11-08 22:10] michaelstaib commented on #1197
Just as a tip, you can also use classes to represent a middleware.

[code]

That should work, we will handle all the constructor injection for you.

Regarding the arguments.

If you want a specific argument you can do the following:

[code]

do not want to specify the type but access the argument in a more generic way do the following:

[code]

if you want to fetch the argument as a literal:

[cod

[2019-11-09 06:28] michaelstaib opened #1198 "Compiled Filters"
Currently we recreate filters every time a request is executed. This is not very efficient. We should instead compile these filters to get a parametrised expression where each variable is converted to a expression parameter. These expressions should be cached and reused.

**We first have to do execution plans in order to see how this fits in**

[2019-11-09 06:31] michaelstaib opened #1199 "Review GraphQL 2020 Spec Changes"
We have already implemented quite a lot of the GraphQL 2021 spec. We still need to review the changes again and tick of what is done and mark what we still have to do. We should add a checklist into this issue that links to all the spec change prs.

The release of V11 and the GraphQL Spec 2020 align quite well.

- [ ] https://github.com/graphql/graphql-spec/pull/601 (in progress)
- [ ] https://git

[2019-11-09 06:56] michaelstaib commented on #1199
@PascalSenn do you fancy some spec work? We need to review / re-read the spec. There are still not all items merged so we should first look into the open drafts.

If you are not interested then I will do it. If you are interested then we should organize this work here and divide up the review and implementation.

[2019-11-09 06:57] michaelstaib commented on #1199
This is not pressing... we are pretty far already on the spec... I just want to get it in a more organized form.

[2019-11-09 07:39] activebiz commented on #1197
It does help.

```var abc = context.Argument<object>("argumentName");```

This is great stuff.

Let me know anyway I can contribute to this.

[2019-11-09 08:44] activebiz commented on #1197
The next challange for me is to how throw error to the client.  I have seen the ``` ErrorBuilder.New()``` and ```QueryValidationResult``` but no idea how to use it properly so that it put these validation result in corrrect place.

[2019-11-09 15:12] activebiz commented on #1197
This is what I done with my validation middleware

[code]
which generates following

[code]
Does this looks ok?

[2019-11-09 17:06] PascalSenn commented on #1198
Hm..
Is there an example of this?
A paramterised expression could be a few things :D

[2019-11-09 17:09] PascalSenn commented on #1199
This one? https://graphql.github.io/graphql-spec/draft/?

[2019-11-10 07:33] michaelstaib commented on #1197
yes, this exactly the right way.

[2019-11-10 07:50] michaelstaib commented on #1199
Yeah but there are not all the things in.

https://github.com/graphql/graphql-spec/pulls?q=is%3Aopen+is%3Apr+label%3A%22📄+Draft+%28RFC+2%29%22
https://github.com/graphql/graphql-spec/pulls?q=is%3Apr+label%3A%22🏁+Accepted+%28RFC+3%29%22+is%3Aclosed

[2019-11-10 12:46] PascalSenn opened #1200 "Filter Attributes"
it should be possible to add filters and sorting to a resolver without having to override the
[code]

- [ ] Add test case for #1119

[2019-11-11 18:24] tohagan commented on #1177
Thanks ... that all sounds great... so then the missing bit  is documenting how to do these things. I read some security articles on GraphQL and a common issue raised was securing introspection. Now that I know the issue I’ll act on it but the next person learning HC likely won’t know these security risks, nor what to do to fix them.

[2019-11-11 19:09] michaelstaib commented on #1177
@tohagan do you want to do a pr for that? I can assist you with putting all the information together. You could add a section to the security section of the documentation, maybe even with a reference to the article that you have read.

We are using docusaurus and the docs are located here:
https://github.com/ChilliCream/hotchocolate-docs

[2019-11-12 09:36] michaelstaib opened #1201 "There is a strange client generation when fragment and typename are the same."

[2019-11-12 09:37] michaelstaib opened #1202 "Enums that are in an input type are not correctly generated."

[2019-11-12 11:55] PascalSenn commented on #1202
If someone has this limitation there is a workaround:

Pretty I sure hadthe same issue. You can work around by specifying the Enum Type directly in a query.

[code]

[2019-11-12 21:18] lucas-mv opened #1203 "Custom paths Voyager and Playground not working on AspNetCore 3.0"
The endpoints for `voyager` and `playground` always default to `/voyager` and `/playground`, respectively, even when I specify a Path and QueryPath, as shown below.

Also the QueryPath does not seem to be working either, since the paths I input in these variables don't seem to be doing anything (voyager stays loading forever and playground can never initialize the path correctly).

[code]

My proj

[2019-11-13 00:56] michaelstaib commented on #1203
Hi @lucas-mv,

I will look into it.

[2019-11-14 12:02] TomBruyneel commented on #906
This would be nice, my site is behind an enginex instance that handles the https. This breaks the playground as it still tries to load the graphql data from the http endpoint

[2019-11-14 22:23] barrettg opened #1204 "DiagnosticObserver breaks Subscriptions"
**Describe the bug**
I added a DiagnosticObserver to my project to help debug some queries and I found that my subscriptions stopped firing when I did so.  I followed the example code for the ASP.NET ILogger example:
https://github.com/ChilliCream/hotchocolate-examples/blob/master/Instrumentation/DiagnosticObserver.cs

**To Reproduce**
Steps to reproduce the behavior:
1. Clone StarWars example pro

[2019-11-15 08:56] michaelstaib commented on #1204
Hi @barrettg,

did it stop firing by just adding it?
Or did it stop while debugging it with breakpoints?

[2019-11-15 14:35] barrettg commented on #1204
I am not debugging the application, running it detached.  It seems that both Kestrel and IIS are effected.  I dove into the code a bit more this morning and it seems to specifically be this function that is blocking the events:
[code]
If I comment this block out but leave the rest of the observer code, the events will fire.  Unfortunately, I am new the library and do not know enough about what is

[2019-11-15 15:31] michaelstaib commented on #1204
ah, are you using .net core 3.0?

[2019-11-15 15:32] michaelstaib commented on #1204
because you cant do the wait there ...

[2019-11-15 15:32] pmbanugo opened #1206 "unknown scalar type and directive shows up in the schema"
I have a simple schema that I didn't include custom scalar or directive but they show up in my schema. I don't understand why they show up nor do I know what they are and how to exclude them if it's the library's default behaviour.

Here's my schema:

[code]

`scalar MultiplierPath` and `directive @cost....` are the unwanted/unknown declaration in the schema. Here's a link to my code https://githu

[2019-11-15 15:34] michaelstaib commented on #1204
So you basically want the json representation of the result. Let me check something.

[2019-11-15 17:11] barrettg commented on #1204
Yes.

I was just following the example @ https://github.com/ChilliCream/hotchocolate-examples/tree/master/Instrumentation

Maybe that just needs to be updated for Core 3?

[2019-11-15 19:24] michaelstaib commented on #1206
The issue is that we always register the cost directive that then brings in the scalar. I will fix that.

[2019-11-17 18:41] drowhunter commented on #1119
I have encountered another issue regarding this

Given the following
[code]
I don't want to pollute my POCO class so I use resolver Types
[code]
This is fine the `GetFilterNumbers` function appears in the api as expected. Because of the `Include` on the descriptor which includes all methods defined in the Resolver class.

[code]

However I would like to use Filtering and Sorting Middleware and may

[2019-11-17 18:46] drowhunter commented on #1119
Removing the Include is undesirable because I would need to explicitly add field overrides for every method even the ones I don't want to modify

[2019-11-17 18:52] drowhunter commented on #1119
Another scenario I have is that under my UserProfileType all of my fields are protected at the type level using
`descriptior.Authorize()`

but I have a few fields that require higher level permissions to access

like
`descriptor.field<ResolverType>(f => f.HighSecurityField).Authorize(Policies.ADMIN);`

this also fails to protect the field for admins

[2019-11-17 21:26] michaelstaib commented on #1119
Hi @drowhunter this is not really related to this issue. We have another issue open regarding middleware as attribute with a specifically target to allow filtering.

[2019-11-17 21:28] michaelstaib commented on #1204
@barrettg I will have a look at the example.

[2019-11-17 21:36] michaelstaib commented on #1095
This one is now implemented with optionals<T>

[2019-11-17 21:36] #1095 closed

[2019-11-17 22:16] drowhunter commented on #1119
So your saying that whatever you can do with overrides you need to be able to do with attributes in resolvers.
I agree.

However.  My issue is more about the consistency.  For example.  The behavior I am asking for above is already how it works in the normal scenario.

[code]

here i'm accessing a field already defined in the CLR type and modifying it with an override.

[2019-11-17 22:33] drowhunter commented on #1200
I like this and yea it should be possible HOWEVER
 this handles a use case.

But what if I have a shared resolver that returns an Iqueryable

but I want to control the filtering/sorting on the Type level.

eg.  When used from Type A Use Sorting
when used from type b use Filtering.

you get what im saying this use case could apply to any middleware where I dont necessarilty want to define what beha

[2019-11-17 22:38] PascalSenn commented on #1200
@drowhunter
In this case the filters have to be registered on the resolver level on the parent type.

[2019-11-17 22:40] PascalSenn commented on #1200
Note to myself: Add a test case for
#1119
[code]

[2019-11-17 22:44] michaelstaib opened #1207 "Allow explicit external resolver declarations to override imported resolver (inlclude)"
protected override void Configure(IObjectTypeDescriptor<UserProfile> descriptor)
    {
       descriptor.Include<UserProfileResolver>();
       descriptor.Field<UserProfileResolver>(f => f.GetFilterNumbers())
            .UseFiltering().UserSorting().Authorize();
    }

[2019-11-17 22:44] michaelstaib commented on #1119
https://github.com/ChilliCream/hotchocolate/issues/1207

[2019-11-17 22:53] michaelstaib commented on #1200
@drowhunter I have added the following issue which should fix this https://github.com/ChilliCream/hotchocolate/issues/1207. I will have a look at the impact tomorrow. If we can do it on V10 then we will issue another patch release for you.

[2019-11-17 23:02] drowhunter commented on #1200
Awesome.

[2019-11-17 23:04] michaelstaib commented on #1206
I have found your issue. We are adding the cost directive along with skip and include. I will issue a fix on the 10.x branch.

[2019-11-17 23:05] michaelstaib commented on #1206
I think we will have this version out at the end of this week... I will give you a ping on this one.

[2019-11-17 23:07] drowhunter commented on #1119
Thank you.  sorry I seem so aggressive on this one but I really feel like the include function and the way field overrides work currently is strange.

The way it currently works means that having the include statement is not that useful.

Say I had a shared resolver with 20 methods,  but i needed to modify the way "one" functioned (add authorization middle ware for example).  Since the only way to

[2019-11-17 23:12] michaelstaib commented on #1119
@drowhunter now worries. I think your point is valid. The only concern that I have is the timeline. But, we will try to get a fix for #1207 into the 10 branch if possible. If we however determine it is to big than it will have to go into 11.

[2019-11-17 23:26] michaelstaib opened #1208 "Review DataLoader v2.0"
Lee just tweeted that there will be a new DataLoader spec version tomorrow. We will have to review that and decide how it fits in with execution plans.

[2019-11-18 07:36] #1197 closed

[2019-11-18 08:18] pmbanugo commented on #1206
Awesome!

[2019-11-18 08:37] leebenson opened #1209 "GraphQL Playground cannot be hosted on the root `/`"
**Describe the bug**

The GraphQL Playground cannot be mounted to the `/` root route.

An exception is thrown:

**To Reproduce**

[code]

**Expected behavior**

For the Playground to be mounted to the root, and no exception to be thrown.

**Desktop (please complete the following information):**
 - HotChocolate.AspNetCore.Playground 10.2.0

[2019-11-18 14:27] rafd123 opened #1210 "Queries that use a DataLoader executed by a second event of a given subscription returns stale data from the initial event"
**Describe the bug**
When using subscriptions in conjunction with DataLoaders, queries of subsequent subscription events return stale data.

**To Reproduce**
1. Create a query that has a field resolver that leverages a DataLoader
2. Create a subscription where the field in step 1. is included in the graph
3. Create a mutation that modifies the underlying data and triggers the subscription in Step

[2019-11-19 09:49] PascalSenn commented on #1208
The blog post: https://medium.com/@leeb/dataloader-v2-0-925b4dccf8d6

The release note : https://github.com/graphql/dataloader/releases/tag/v2.0.0

[2019-11-19 14:18] mbauerdev opened #1214 "StrawberryShake / new Generator Flag[s]: Visibility"
When writiting my first StrawberryShake client I faced the issue to be backward-compatible for the current clients. I thought it would be a nice feature, if I could toggle the visibility of the generated classes between "public" and "internal" (as gRPC does it, for example).

Maybe "berry.json" could be used to configure the behaviour. Certainly, "public" should be the default visibility.

[2019-11-19 22:37] #1210 closed

[2019-11-20 04:34] drowhunter opened #1216 "Upgrading from 10.1.1 to 10.2.0 input type error EXEC_INVALID_TYPE"
**Describe the bug**
Upgraded to 10.2.0 and suddenly my mutations give me the following error

**To Reproduce**
Steps to reproduce the behavior:
[code]

**Additional context**
Rolling back to 10.1.1 fixes the issue

[2019-11-20 06:22] michaelstaib commented on #1216
Can you provide more information mouth here. With 10.2 we fixed a validation bug, that mean variables now have to be of the correct type. Before that we were allowing eg ints for strings.

[2019-11-20 13:16] drowhunter commented on #1216
I have an object called input which is a custom poco class
[code]
which has the following Type defined and registered
[code]
the query looks like this
[code]
The Input is defined as
![image](https://user-images.githubusercontent.com/2817488/69241587-192de380-0b6d-11ea-9920-0cea125be34d.png)

and the input variable passed is like
[code]

[2019-11-20 16:18] michaelstaib commented on #1216
Can you trace out the query that is send between the gateway and the domain service?

[2019-11-20 16:35] drowhunter commented on #1216
im actually not using the gateway.  I went directly to the api itself to run the query
the example i passed earlier wasnt that great I was on my phone.  Here is a better example of what isn't working

![image](https://user-images.githubusercontent.com/2817488/69257893-cadb0d80-0b89-11ea-9e7b-7e26197f7206.png)

[2019-11-20 16:39] drowhunter commented on #1216
Actually looks like we are passing decimals to a parameter that is expecting Int.  I assume that in the previous version you were not actually validating these fields

[2019-11-20 18:01] andrewlutgen opened #1218 "Invalid SQL generated with cursor paging"
**Describe the bug**
A query with a sort and backwards paging is failing due to invalid SQL.

**To Reproduce**
Steps to reproduce the behavior:
1. Use Sort and Cursor Pagination
[code]
2. Create a query with an order_by argument and backwards paging
[code]
3. Observe error `Unexpected Execution Error`. Error does not occur with paging back to first page or when order_by is omitted. When error does

[2019-11-20 19:32] michaelstaib commented on #1216
@drowhunter yeah that's it. The spec defines that you can put an int into a float but not the reverse way. We now enforce these rules.

[2019-11-20 19:32] michaelstaib commented on #1216
I will close this issue since this is now working as expected.

[2019-11-20 19:33] #1216 closed

[2019-11-20 19:36] michaelstaib commented on #1218
First, thank you for reporting this. I have added this issue to 10.3.0 backlog.

[2019-11-20 20:29] andrewlutgen commented on #1218
Thanks @michaelstaib ! Any thoughts on when 10.3.0 is expected to release?

[2019-11-20 20:36] michaelstaib commented on #1218
We have to look if this will be even fixed in 10.3. have to evaluate what we can put really into 10.3. and what we will move to 10.4.

We are planing for end of next week.

[2019-11-21 00:35] nigel-sampson commented on #1172
This is definitely possible, we're doing this where a schema (that uses stitching) is shared between a web host (for a SPA to send queries) and a background service which uses the same schema for pulling data to create file exports.

The implementation is much the same, register the schema in the services collection and then when you want to use it take a dependency on `IQueryExecutor`.

This lets

[2019-11-21 00:46] nigel-sampson opened #1220 "Custom scalar fields not serialized in stitched queries"
We've run into a regression when upgrading from `10.1.0` to `10.2.0`.  On investigating we've noticed that how variables are being serialized in upstream stitching queries has changed for custom scalars.

With `10.1.0` the variables on the request looked like the following, note that `startDate` and `endDate` are instances of a custom scalar `LocalDate`.
[code]

With `10.2.0` the variables become

[2019-11-22 07:27] nigel-sampson commented on #1220
Created a pull request with two failing tests #1221.

The issue doesn't seem to be just scalars as input values, they seem to work correctly, but when they're in delegated queries.

This should hopefully make it easier to narrow it down.

[2019-11-22 11:24] PascalSenn opened #1222 "GraphQLNonNullType leads to SchemaException in combination with UseFiltering"
**@pmbanugo reported this:**

Unhandled exception. HotChocolate.SchemaException: Unable to resolve type reference `Input: HotChocolate.Types.ListType<HotChocolate.Types.NonNullType<HotChocolate.Types.NativeType<System.String>>>`

**Workaround**

[GraphQLType(typeof(NonNullType<StringType>))] attribute

I could file an issue if that’s a bug with the attribute

**Repo Repo:**
https://github.com/Pasc

[2019-11-22 11:53] michaelstaib commented on #1220
@nigel-sampson awesome. Will do a fix and put it in 10.3.

[2019-11-23 12:44] michaelstaib opened #1223 "Refactor the resolver to use ValueTask instead of Task."
Many of the resolvers are actually resolving there data synchronously, so, we should enable the middleware and resolver to use ValueTask<T> over Task<T>.

[2019-11-23 19:21] PascalSenn commented on #1223
If anyone reads this issue and wonders what value tasks are, there's a great resource for this:
https://devblogs.microsoft.com/dotnet/understanding-the-whys-whats-and-whens-of-valuetask/

[2019-11-25 01:11] krishnakumarb commented on #1209
I have this workaround to redirect `/` to `/playground`

[code]

[2019-11-25 15:53] mikelee516 commented on #564
I'm assuming this issue should be closed as per the comments in #587 ?  I ask because I'm looking to contribute and this was tagged as "good first issue" - thanks!

[2019-11-25 19:07] michaelstaib commented on #564
Hi @mikelee516,

yeah, this one should be closed :)

But there is still lots to contribute. Are you on your slack channel? If you like we can discuss things there.

[2019-11-25 19:07] #564 closed

[2019-11-26 09:09] giangcoi48k commented on #356
Hi. I'm practicing with graphql using hotchocolate. I also using MediatR and resolved complex filtering data loader. Please take a look my demo project: [https://github.com/giangcoi48k/Test-graphql](url)

[2019-11-26 20:07] tunurgitr opened #1227 "DiagnosticSource logic clears existing diagnostic listeners"
**Is your feature request related to a problem? Please describe.**
When using HotChocolate in combination with other DiagnosticSource listeners (I've tested with Application Insights, OpenTracing, and Elasticsearch APM), those listeners get unregistered by HotChocolate's logic here that clears out any existing DiagnosticSource or DiagnosticListener implementation: https://github.com/ChilliCream/ho

[2019-11-26 20:20] mikelee516 opened #1228 "Trying to get Authorize directive to work with my DefaultAuthorizationPolicyProvider"
I'm trying to get my .Net Core 3.0 API project to use my IAuthorizationPolicyProvider and IAuthorizationHandler that are registered.  I've created a policy provider and authorization handler that work with the Authorize(PolicyName) attribute for regular API controllers.  I'm using JWT based authentication and that's set up in the ConfigureServices method in Startup.cs before GraphQL.  In the Confi

[2019-11-26 21:17] michaelstaib commented on #1011
We have hit our first internal milestone for the client this weekend and it is kind of usable now. We still have a ton to do. I think we can close this issue now and create smaller more specific ones as we go along on this project.

[2019-11-26 21:17] #1011 closed

[2019-11-26 21:18] michaelstaib commented on #1013
The base for the client generator is no in so I am closing this issue.

[2019-11-26 21:18] #1013 closed

[2019-11-26 21:18] michaelstaib commented on #1100
This one is now done

[2019-11-26 21:18] #1100 closed

[2019-11-26 21:19] michaelstaib commented on #1102
The new package `StrawberryShake` comes with its own generator now. The tools are now only for convenience

[2019-11-26 21:19] #1102 closed

[2019-11-26 21:20] #1096 closed

[2019-11-26 22:57] michaelstaib commented on #1228
Can you provide a little repro? It is always easier to point to the issue with some code.

[2019-11-26 22:59] michaelstaib opened #1230 "Visual Studio for Windows integration"

[2019-11-27 12:43] husseinraoouf opened #1231 "Schema-first: Split Schema files"
**Is your feature request related to a problem? Please describe.**
i am working a schema in a monolithic app with huge schema which make searching for a specific type to edit very frustrating

**Describe the solution you'd like**
it would be better if i can split the schema file into multiple smaller one each with specific purpose without having to split into multiple services and use schema stitc

[2019-11-27 15:18] mikelee516 commented on #1228
Ok slimmed down my project and created a new repo: https://github.com/mikelee516/HotChocolate.Spike

It's the same deal where you can hit the "Pass" attributed API endpoint and get denied for the "Deny" attributed API endpoint.  I then use the same policy names for the GraphQL endpoints and get user not authorized on both.  Let me know if I need to clarify anything.

[2019-11-27 19:21] michaelstaib commented on #1228
Where are your policies defined? Can you post a link to that?

[2019-11-27 19:24] michaelstaib commented on #1231
You can do that. Just add multiple files to the schema. You can do that with code first and with schema first.

You can even split your types.

[code]

[code]

[2019-11-27 20:31] mikelee516 commented on #1228
My policy set up is super simplified, basically if something is attributed with Authorize and the policy name is "Pass" then you get access, any other name will be denied.  Ultimately the authorization or denial is done in the Handler (https://github.com/mikelee516/HotChocolate.Spike/blob/master/Authorization/MyAuthorizationHandler.cs) and the policy is set up in the Provider (https://github.com/m

[2019-11-27 23:32] husseinraoouf commented on #1231
Oh i didn't know that, thank you for the quick answer

feel free to close the issue but i think this should go in the documentation as it is not clear from the documentation

[2019-11-28 00:14] snaveevans commented on #1231
I'm looking to do something like this as well.  I'm still somewhat new to graphql so correct me if I'm doing this wrong.  However I'm creating `TodoQuery` object which will handle all the queries for my `Todo` entities, and I was going to create another for `Account` queries `AccountQuery` and for `Group` queries `GroupQuery` however when I try to add more than one query to the schema I get depend

[2019-11-28 02:45] nigel-sampson commented on #1231
GraphQL is as the name says a graph 😄

This means you can only have one root type for queries, this type is what Hot Chocolate refers to as the "Query Type".

What @michaelstaib and @husseinraoouf are talking about is how you can break down the organization in some way to make your code base more manageable.  For code first you can do much as same with type extensions.

First we'll create our root

[2019-11-28 07:55] michaelstaib commented on #1231
@nigel-sampson exactly right. With 10.3.0 you can even now have Model bound extensions.  ObjectTypeExtension<T>

[2019-11-28 07:55] #1231 closed

[2019-11-28 10:45] michaelstaib opened #1233 "Make it easy to check if an argument was provided."
We probably want to have something like `context.Argument<Optional<string>>("argument")` The optional allows us to check if something was provided as opposed to something is `null`. We already have this on the V11 branch and it should be easy to port that to V10.

[2019-11-28 10:46] michaelstaib commented on #1233
This also is nice with argument injection:

[code]

[2019-11-28 14:11] michaelstaib commented on #923
@PascalSenn  this one is done or?

[2019-11-28 15:55] #923 closed

[2019-11-28 15:55] PascalSenn commented on #923
This one is done

[2019-11-29 03:37] gongdo opened #1234 "Inconsistent GUID(UUID) rendering"
**Problem**
When you define two Guid fields by `IdType` and `UuidType`, The string representation of two fields will not be same.

**Code**
[code]

**Output Result**
[code]

**Expected Result**
[code]

Almost every code in HotChocolate uses `{Guid}.ToString("N")`, except for a field that defined by `UuidType`.
**Is this an expected behavior?**

I found that this behavior leads to inconsistent JSON

[2019-11-29 05:33] snaveevans commented on #1231
I see.  I've got a working example.  Is there an easy way to use `descriptor.Include<TResolver>()` and enable `.Authorize()` just on that included resolver?

[2019-11-29 14:14] michaelstaib commented on #1231
Yes with version 10.3.0 this will become easy.

[2019-11-29 16:58] michaelstaib opened #1237 "Authorisation Trimming"
We currently are securing the types with the `@authorize` directive bit we still need to find a concept for securing our internal object. So basically we need a way to attach policies to the objects themselves and trim objects that are not allowed in the user context.

[2019-11-29 21:09] michaelstaib commented on #1234
In this case it is actually not inconsistent :) The IDType is as string serialisable type. So everything that goes in here becomes a sting. This means in case of the Guid it will become the ToString representation.

In case of the Uuid we decided to have a short string with the `N` option.

But I see you complaint and I can understand.

For the first case you can control how the Guid is converted

[2019-11-30 07:03] gongdo commented on #1234
@michaelstaib I understand that the 'N' option behaviour is the default choice.
For now, as a workaround, I'm doing like this:

[code]

And add the middleware to the schema when I want to replace the current behaviour:
[code]
Or add the middleware to the field definition only:
[code]

It's quite ugly code(double conversion; Guid-string-Guid), but it satisfies my requirement. ;)

I tried to find ap

[2019-11-30 21:31] michaelstaib commented on #1119
This one is now fixed with 10.3.0-preview.3

[2019-11-30 21:31] #1119 closed

[2019-12-01 09:23] husseinraoouf commented on #1231
@michaelstaib i have tried to splitting type definition as you suggested in your comment but it doesn't work, may be i am doing something wrong

here is what i am doing

in Startup.cs
[code]

Schema/schema.graphql
[code]

Schema/User/schema.graphql
[code]

[2019-12-01 12:24] michaelstaib commented on #1231
I will check your code later.

[2019-12-01 23:19] michaelstaib opened #1239 "Descriptor Attributes Cleanup"
Test Reconfiguration Issue Fix
- [x] Object Field

Attribute Support:
- [x] Object
- [x] Interface
- [x] Input
- [x] Union
- [x] Enum
- [ ] Directive

Middleware Attributes
- [x] Paging Attribute
- [x] Filter Attribute
- [x] Sorting Attribute
- [x] Authorisation Attribute

[2019-12-02 15:43] okosodovictor commented on #935
I am trying to setup Schema Stitching using Hot Chocolate schema stitching Version="10.2.0". I received the same error message 'HotChocolate.AspNetCore.Subscriptions.IMessagePipeline' when I set
 app.UseGraphQL();

When I changed to
app.UseGraphQLHttpGetSchema(); then my remote schema where not fetch.

Could you help with sample  Hot Chocolate schema stitching that is using the updated version?
Ma

[2019-12-02 16:41] michaelstaib commented on #935
hi @okosodovictor,

this is a bug that we introduced in version 10. The stitching layer is basically missing the message pipeline. You can either add it.

[code]

or you choose to remove the subscription middleware by specifying which transport middleware you want to use:

[code]

regarding the `UseGraphQLHttpGetSchema()` middleware. This is kind of optional and also this particular middleware has

[2019-12-02 18:20] PascalSenn opened #1242 "Sorting does not work with BindingBehavior.Explicit"
From Alessandro Balasco

this is the relevant snippet in my Startup
[code]
and this is what happens in my ApiQueryType:

[code]

[2019-12-02 21:26] #1242 closed

[2019-12-02 21:27] michaelstaib commented on #1242
This one is fixed

[2019-12-02 21:27] michaelstaib opened #1245 "SDL type extensions are not correctly deserialised in schema first"

[2019-12-03 01:57] nigel-sampson opened #1247 "Stitching adding unnecessary __typename selection"
Currently the stitching layer appends the field `__typename` to all requests.

It does this even when the field is already in the selection set resulting it being requested twice.

[2019-12-03 07:38] michaelstaib opened #1249 "Resolver Metadata"
The resolver compiler shall gather data about the resolver like what services it is using and so forth and store those with the field that owns the resolver. This will allow the query engine to optimize resolver execution.

[2019-12-03 11:49] michaelstaib commented on #59
https://github.com/lilianammmatos/graphql-js/pull/1

[2019-12-03 14:59] TheJayMann opened #1251 "Sorting doesn't work when using the QueryableSortMiddleware and sorting on two properties"
**Describe the bug**
This appears to be an issue with 11.0 preview 58 (possibly earlier) as this error does not happen on 10.3 preview 5.  When using the QueryableSortingMiddleware by using the UseSorting() method and attempting to sort by more than one property in the query, instead of creating a query for sorting by multiple properties, an exception instead is thrown.

**Additional context**
The

[2019-12-03 15:44] PascalSenn commented on #1251
Thanks a lot fort reporting this!
Your proposal seems to fix the problem!

[2019-12-03 17:40] TheJayMann opened #1254 "Queryable Projection Middleware"
I've seen a few issues here and there aiming to take the submitted query and convert it to an expression which can be used with the Queryable.Select method, as a way to only pull from the datasource the properties requested, though, from what I can see, the attempts are either abandoned, or were not made publicly available.  I have made an attempt myself, which, while not complete, appears to work

[2019-12-03 20:04] #1247 closed

[2019-12-03 21:07] michaelstaib commented on #1254
I will look into it tomorrow. Thank you for posting this

[2019-12-04 16:30] tunurgitr opened #1255 "GraphQLResolverOf not working as expected with code-first"
**Describe the bug**
I expect to be able to use `GraphQLResolverOf` as described in the docs here: https://hotchocolate.io/docs/resolvers#resolver-types

1. If you have two attributes `GraphQLResolverOf ` on a file, it throws here https://github.com/ChilliCream/hotchocolate/blob/d5595996a6baf1dcd948174cacc6d078af48fa60/src/Core/Types/Configuration/TypeInitializer.cs#L288-L289

2. This snapshot see

[2019-12-04 16:39] tunurgitr opened #1256 "injecting [Parent] in a resolvers file included by ObjectTypeExtension is not working"
**Describe the bug**
Trying to inject a `[Parent]` argument into a field resolver in a resolvers class makes the field disappear. This may be related to #845

**To Reproduce**
Given this extension type:
[code]

This code results in a schema with two fields (`number` and `testString`) and correctly populates the `viewer` variable:
[code]

This code doesn't even have the `testString` field shown in

[2019-12-04 21:56] okosodovictor commented on #935
Many thanks @michaelstaib

It work for me when I use services.AddGraphQLSubscriptions();

Now,I have a question that is a little different from above. I wanted to stitch third party REST API. I have checked the swagger documentation (api/swagger/ui), it exposed so many REST endpoints.

Is there any suggestions on how to stitched each of this individual endpoints.

Many thanks,

[2019-12-04 22:30] michaelstaib commented on #935
It is quite easy to do that ... I can borrow you some code for that. We will I think have this feature also in with V12. But I can give you some snippets for a basic rest middleware and the it is very easy to stitch rest in or OData. Can you join our slack channel? The invitation link is on our readme... the we can discuss things further.

[2019-12-05 09:38] #1251 closed

[2019-12-05 17:55] mikelee516 commented on #1228
Ok finally carved out some time to really look at this and debug, so it comes down to AuthorizeMiddleware in the HotChocolate.AspNetCore.Authorization project.  Somehow the ClaimsPrincipal is coming in as not authenticated and so since the caller is not authenticated and thus not allowed, none of the other logic is fired to check against the policy.  I don't see any of my authorization code being

[2019-12-05 18:04] mikelee516 commented on #1228
In my case for the actual project i'm working on, this looks like it might be how we implemented the JWT Authentication.  I'll take a deeper look into that and report back if that's the case.

[2019-12-05 22:15] michaelstaib commented on #1228
We have an interceptor so you can change how we acquire the claims principal.

[2019-12-06 08:53] PascalSenn opened #1259 "Descriptors should allow to unignore"
At  the moment when a field is ignored it can not be unignored easily.
A optional parameter in Ignore should make this possible

[2019-12-06 09:10] PascalSenn opened #1260 "Nested Sorting should ignore lists types"
currently sorting types are generated for Lists, Collections etc:
[code]

This makes no sense

[2019-12-06 11:29] maryalfred25 commented on #288
Hello @michaelstaib ,

Correct me if i'm wrong is this thee way to stitch rest api in GraphQL gateway?

[2019-12-06 13:34] PascalSenn opened #1263 "Implement Attributes on Filters/Sorting"
This should be possible
[code]

- [ ] Delete branch of #1276

[2019-12-06 13:35] #1260 closed

[2019-12-06 17:17] PascalSenn opened #1265 "Overriding of filters does not work as expected"
[code]

yields
[code]

[2019-12-09 22:23] michaelstaib opened #1268 "Rewrite subscription tests with cancellation token source and delay"

[2019-12-09 22:39] michaelstaib opened #1269 "Introduce Subscription Pipeline for writing messages back to the socket."

[2019-12-10 12:58] krij0n opened #1270 "String enum causes exception on startup"
Using string enum like this:
`public class StringEnumTestType : EnumType<string>
    {
        protected override void Configure(IEnumTypeDescriptor<string> descriptor)
        {
            descriptor.Value("value").Name("name");
        }
    }`

Causes error on startup: "The name `String` was already registered by another type - Type: String"

[2019-12-10 23:34] #1265 closed

[2019-12-10 23:34] michaelstaib commented on #1259
Is this one done?

[2019-12-10 23:38] michaelstaib opened #1271 "Subscription Blog Post"

[2019-12-11 03:53] barticus opened #1273 "Authorization not correctly working for stitched, local schemas"
**Describe the bug**
When using schema stitching, and adding built schemas (i.e. not over HTTP) to the schema stitching builder, the authorization middleware/directive that is registered with the sub-schemas is not applied correctly, and causes the AUTH_NOT_AUTHENTICATED error to be thrown in all cases (with auth, without auth, with correct role/policy, without correct role/policy).

**To Reproduc

[2019-12-11 07:31] #1259 closed

[2019-12-11 08:37] michaelstaib commented on #1273
Hi @barticus,

thanks for this detailed issue. The cause for this is that the authorise directive need the claims principal in the execution context.

When stitching over HTTP you would basically pass on an auth token or create a new auth token to the remote schema in and then the claims principal would be associated with the execution context.

In the case when we use in-memory schemas this does

[2019-12-11 10:53] michaelstaib opened #1274 "Variable Coercion Refactoring"
At the moment the coercion and handling of variables is quite inefficient. Instead of parsing the variable tree to actual .NET types we should parse them to value literals. This value literal can than be preserved during execution and we only coerce the value once needed to the type that is actually needed. This would reduce the times we have to convert variable values.

This also would simplify h

[2019-12-11 12:06] barticus commented on #1273
Thanks @michaelstaib for the prompt response.
I thought it might be something along those lines. I could see examples for passing along the headers for HTTP stitching, but couldn't see any notes on whether there was extra work for local schemas.
As mentioned, I had a go at writing some custom middleware/request filler to pass the user along, but couldn't get it working. I could write my own author

[2019-12-11 22:43] michaelstaib commented on #1113
This actually should now be possible with the new async streams.

The async enumerator is disposed once the connection closes or the connection breaks.

I will add a test for this and add some documentation on this.

[2019-12-11 23:12] michaelstaib commented on #1220
This one is now fixed and ships with 10.3 preview 8

[2019-12-11 23:12] #1220 closed

[2019-12-12 07:10] freever opened #1275 "Filtering change / regression from 10.2.0 to 11?"
I am having a problem getting basic filtering to work. I have a QueryType set up so:

[code]

The GetUsers method returns an IQueryable from an EF Core DbContext.

I am using HotChocolate.AspNetCore 11.0.0-preview.64 and HotChocolate.Types.Filters 11.0.0-preview.64

The solution compiles but throws an error when I hit the endpoint:

   If I downgrade to 10.2.0 the problem goes away.

   Has someth

[2019-12-12 10:50] michaelstaib commented on #1275
Quite a lot has changed ... the filters now have a lot more features. But we are still iterating on them.

But I think the issue that you have are from changes coming with 10.3.0 since we are changing how we register types.

We are not done on these yet.

@PascalSenn

It seems from the exception that filters have a problem with the new non-null support for c# 8.

I will create a test for this....

[2019-12-12 11:33] PascalSenn commented on #1275
@freever  Hi freever!

Do you mind pasting the generated SDL for the UserFilter from the schema?

[2019-12-12 11:37] freever commented on #1275
Sure I will ping you on Slack if that's ok

On Thu, 12 Dec 2019 at 13:33, PascalSenn <notifications@github.com> wrote:

[2019-12-12 12:43] PascalSenn commented on #1275
@michaelstaib  @freever could not reproduce the issue for the moment, he will come back to us once it occurs again

[2019-12-12 12:49] husseinraoouf opened #1278 "Schema-First: Default Value in input object"
**Is your feature request related to a problem? Please describe.**
I often need to set default value to on field in a large input object, currently there is no way to do that

I am not sure but i think the spec allow to do it like this
[code]

**Describe the solution you'd like**
i would like to define default value like the example above

**Describe alternatives you've considered**

**Additional

[2019-12-12 16:31] michaelstaib commented on #1278
This should already work.

I will have a look and write some tests for this.

[2019-12-12 19:45] TheJayMann commented on #1275
If it helps at all, I happened upon this issue as well.  It seems to have a problem with any not null string properties.  However, if I switch the properties to be nullable strings, the issue goes away.  In my case, the properties should have been null anyway, as they represent values assigned to database columns allowing nulls.

[2019-12-12 22:42] michaelstaib commented on #1275
That is what I have suspected....

@PascalSenn

I rewrite the types now and this could lead to issues for you while the type is constructed. We should build a little test for this so we have non-nullability under test.

[2019-12-12 22:51] tunurgitr opened #1282 "Variables parsing: Variables parsed within comments"
**Describe the bug**
Comments in queries that reference variables are being parsed when delegating to remote schemas, maybe other situations.

**To Reproduce**
Steps to reproduce the behavior:
1. Have a query with a variable in the comments
[code]

2. Execute the query
3. Get an error response about `getCrossSellProduct` not being defined

**Expected behavior**
Variables in comments should be igno

[2019-12-13 04:58] iamgmd opened #1283 "Startup performance"
I have a code generated hot chocolate graphql server that has been scaffolded against an existing database. The code generated 338 models and repositories and a single QueryType with 2 fields per model, a resolver GetAll and GetById. The GetAll makes use of usePaging, useFiltering and useSorting.

The startup time is approx 10 minutes in production mode. I recognise that hot chocolate infers pagin

[2019-12-13 06:04] michaelstaib commented on #1283
Hi @iamgmd,

this is not good :)

I wonder what the issue is. There must be something wrong with the way the types are inferred.

Can you post some code?

[2019-12-13 06:05] michaelstaib commented on #1282
Interesting :)

[2019-12-13 06:16] iamgmd commented on #1283
Thanks for the quick reply michael, as requested:

Startup.cs

[code]

QueryType.cs

[code]

AccountGraphQLType.cs

[code]

Let me know if you need anymore.

[2019-12-13 11:50] michaelstaib commented on #1283
[code]

When you use paging you do not need to specify the Type... paging will do that.

[code]

This is not the error though :) just a recommendation ;)

[2019-12-13 12:28] iamgmd commented on #1283
Just run some rough timings. All running VS2019 v16.4.1 in Debug upto Playground showing.

- Paging, Filtering, Sorting: 10m
- Filtering, Sorting: 1m 40s
- Sorting: 43s
- None: 17s

VS2019 resting memory was approx 3GB. I did see memory usage between 3GB-5GB while waiting for playground to show and then a large surge of up anywhere between 5GB-10GB. I dont know if this is significant or not and de

[2019-12-13 12:48] iamgmd commented on #1283
Michael, if it helps and you have the time, I can email you my code. I can't include the DB but there should be enough there for you to see first-hand what I am up against. I really want to use Hot Chocolate for this project but I have to make a decision soon. I am worried about performance of starting up the server with what I have and I haven't included enums or relationships into the models and

[2019-12-13 22:28] michaelstaib commented on #1283
@iamgmd that would be great. This way we could much easier see what the issue is. Can you get onto slack?

https://join.slack.com/t/hotchocolategraphql/shared_invite/enQtNTA4NjA0ODYwOTQ0LTViMzA2MTM4OWYwYjIxYzViYmM0YmZhYjdiNzBjOTg2ZmU1YmMwNDZiYjUyZWZlMzNiMTk1OWUxNWZhMzQwY2Q

[2019-12-14 02:58] iamgmd commented on #1283
Michael,

That is now done, you should have a message in slack with the code base attached.

Please let me know if you need anything else.

Regards,

Geoff.

From: Michael Staib <notifications@github.com>
Sent: 13 December 2019 22:28
To: ChilliCream/hotchocolate <hotchocolate@noreply.github.com>
Cc: Geoff Davis <geoff@email2davis.co.uk>; Mention <mention@noreply.github.com>
Subject: Re: [ChilliCre

[2019-12-14 06:06] Joseph7695 opened #1285 ".NET CLI Template produces error"
**Describe the bug**
The project produced by the CLI does not run successfully.

**To Reproduce**
Steps to reproduce the behavior:
1. Following the documentation in https://hotchocolate.io/docs/dotnet-cli
2. Install template using "dotnet new -i HotChocolate.Templates.Server"
3. Generate a new project with "dotnet new graphql -n MyProjectName"
4. Run the project using Microsoft Visual Studio 2019

[2019-12-14 06:15] Joseph7695 commented on #1285
Describe bug more precisely

[2019-12-14 06:18] Joseph7695 commented on #1285
The error is solved by adding additional code at ConfiguringServices() function in Startup.cs, referencing https://hotchocolate.io/docs/tutorial-01-gettingstarted
`public void ConfigureServices(IServiceCollection services)
{
    services.AddGraphQL(services =>
        SchemaBuilder.New()
            .AddServices(services)
            .AddQueryType<Query>()
            .Create());
}`

[2019-12-14 10:55] michaelstaib commented on #1283
I will have a look at the weekend. We are currently working on the type discovery so, this issue fits right in there.

[2019-12-14 14:40] freever opened #1286 "StrawberryShake input objects -v"
In my SDL I have a mutation Type defined as follows:

[code]

In my queries I have two mutations which should, as far as I can tell, do the same thing (for repro purposes):

[code]

Using Strawberry Shake 11.0.0-preview.65 to generate my client I get methods to invoke for each mutation:

[code]

...which I invoke as follows:

[code]

When these two queries end up on my server, however, they arrive

[2019-12-15 00:03] dlebee opened #1287 "Issue with variables not being set if property of object in array."
# Issue
When using query variables that are part of an array it does not set the variables.

# Source code of the issue
https://github.com/dlebee/HotChocolateIssue/

# Example of a query

[code]

[code]

Received Value

[code]

Expected value

[code]

# Versions

It happens in both 10.2.0 and 11.0.0 preview latest.

[2019-12-15 19:09] michaelstaib commented on #1286
This looks ok to me. The stackoverflow might be caused by some implementation aspect on you server. Did you try the query in playground?

[2019-12-15 21:57] michaelstaib commented on #1206
This one is fixed with 10.3.0-preview.9.

For version 10 we did not want to break to much so we added an option:

[code]

By default in version 10 the types are not trimmed down.

The reason fro this is that many people have schema snapshot tests and we did not want to break those.

For version 11 we will make trimming the default.

[2019-12-15 21:57] #1206 closed

[2019-12-15 22:00] michaelstaib commented on #1228
I am closing this since all questions were answered.

[2019-12-15 22:00] #1228 closed

[2019-12-15 22:58] michaelstaib opened #1289 "Add TypeInitializationInterceptor documentation"

[2019-12-16 07:40] JekPoint opened #1290 "ContextData resets between local Schema and root query"
**Describe the bug**
Stiching drop ContextData in to local schema

**To Reproduce**
Steps to reproduce the behavior:
Create stiching and local schema
AddAuthorizeDirectiveType
add .Authorize() to ObjectType<Query>
Authorize not working

**Expected behavior**
Authorize work

**Desktop (please complete the following information):**
 - current

**Additional context**
ContextData resets in localSchema

[2019-12-16 08:22] michaelstaib commented on #1290
This solution cannot work since there are multiple different scopes at work here. The solution for this is that we allow the context to be passed to the remote executor. We have this already on our list for 10.3.0

[2019-12-16 09:03] michaelstaib opened #1291 "Multipart Request Support"
https://www.w3.org/Protocols/rfc1341/7_2_Multipart.html

[2019-12-16 09:36] micnyk opened #1292 "Endpoints authorization for queries/mutations splitted to files"
Hi,
I'm using `GraphQLResolverOf` and `GraphQLResolver` attributes to organize queries/mutations into separate files.

[code]
How could I configure the `Query` fields to authorize users? When the query is not splitted, I use `ObjectType<Query>` class and in override of `Configure` method I can easily use `IObjectFieldDescriptor.Authorize` method to do it. But how to do that in case of splitted que

[2019-12-16 14:05] christianMurschall opened #1294 ""The specified argument value does not match the argument type" in star wars example human query"
**Describe the bug**
The `id` argument in the docs state an `integer` while it is in fact a `string`.

**To Reproduce**
Steps to reproduce the behavior:
Go to `http://localhost:port/graphql/playground/` and insert the following query according to the  [docs](https://hotchocolate.io/docs/example-star-wars-code-first).
[code]

**Expected behavior**

I would expect to see a human object, but I get:
[

[2019-12-16 14:11] christianMurschall opened #1295 ""Unexpected Execution Error" in star wars example when query for character"
**Describe the bug**

Query for character will throw an `"Unexpected Execution Error"` with message `"Object reference not set to an instance of an object."`.

**To Reproduce **
Steps to reproduce the behavior:
Go to `http://localhost:port/graphql/playground/` and insert the following queries

[code]
**Expected behavior**
I'd like go get a list of characters but I get an "Unexpected Execution Erro

[2019-12-16 15:14] Eebo78 opened #1296 "Is schema stitching and subscriptions supported?"
As the title says is subscriptions supported in the latest versions of Hotchocolate? I tried a PoC project where query and mutation worked fine, but subscriptions are not published on the stitched schema.

I am running version 10.2 as this is the latest version at nuget. Hosted bu dotnet.core 3.1 web server.

BTW I had to call services.AddGraphQLSubscriptions() to get the queries and mutations to

[2019-12-16 19:34] michaelstaib commented on #1295
Character erwartet eine liste von character ids als argument.

[2019-12-16 19:43] michaelstaib commented on #1292
You could use our type extensions:
https://hotchocolate.io/docs/schema-object-type#extension

[2019-12-16 20:00] michaelstaib commented on #1292
Version 10.3 will also bring auth attributes

[2019-12-16 20:01] michaelstaib commented on #1296
Version 10 can only stitch queries and mutation.
Version 11 will bring support for subscription stitching. We plan to release version 11 end of January middle of Feb.

The bug about the missing `AddGraphQLSubscriptions` is known. we will fix it with V11 as well.

[2019-12-16 21:06] michaelstaib commented on #1287
@PascalSenn can you write a test for this so we can check out what is wrong?

[2019-12-16 21:20] michaelstaib commented on #1270
This issue is now fixed with 10.3.0-preview.11

[2019-12-16 21:20] #1270 closed

[2019-12-16 21:28] michaelstaib commented on #1255
I have checked this one now and it works like the following:

[code]

[code]

So, the type has to be a schema type.

The question is if this is still a useful feature? This feature dates back to the pre SchemaBuilder versions of HC.

My gut feeling is that we should deprecate it and move to introduce type extension descriptor attributes.

[code]

The attribute would mark this type an extension of

[2019-12-16 21:35] michaelstaib commented on #1255
Also just as a side note to this. With version 11 there is already now support for the extensions like in 10 and then there are type interceptors which lets you intercept the type initialization on a broader scale. With that you can do things like ... for all types that have an `Id` field make the field of type `Uuid` and things like that.

https://github.com/ChilliCream/hotchocolate/blob/master/s

[2019-12-16 21:36] michaelstaib commented on #1222
We should retest this with preview 11

[2019-12-16 21:39] michaelstaib commented on #1234
I will move this to version 11 since we did a lot of changes to the scalars there. Adding this feature to 10 would result in to many merge conflicts.

[2019-12-16 21:40] michaelstaib commented on #1158
The included fields can now be correctly changed in the including type.

[2019-12-16 21:40] #1158 closed

[2019-12-16 21:43] tunurgitr commented on #1255
My vote is for deprecating this in favor of the other ways of extending types...personally I think it's better to be more opinionated here unless there's some compelling reason to stick with this other behavior.

[2019-12-16 21:55] michaelstaib commented on #1255
I agree with you. The `GraphQLResolverOfAttribute` is I think fully replaced by our new ways to extend things.

OK, I will move this issue to 11 and we will deprecate it there.

We can then start removing it with version 12.

[2019-12-16 21:56] michaelstaib commented on #1255
So, I have marked this as a bug and will close it and create a follow up issue that will deprecate it.

[2019-12-16 21:57] michaelstaib opened #1298 "Deprecate GraphQLResolver / GraphQLResolverOf attributes"
- [ ] Mark as deprecated
- [ ] Remove Documentation
- [ ] Introduce new documentation that shows the new ways of doing this.

[2019-12-16 21:58] michaelstaib commented on #1255
#1298

[2019-12-16 21:58] #1255 closed

[2019-12-16 21:58] michaelstaib commented on #1298
#1255

[2019-12-17 09:45] michaelstaib commented on #1234
#1301

[2019-12-17 09:45] michaelstaib commented on #1234
This one is now implemented and will be included into 11.0.0-preview.69.

[2019-12-17 09:45] #1234 closed

[2019-12-17 09:49] michaelstaib opened #1302 "Add documentation for `Added format option to the UUID type`."
#1301

[2019-12-17 10:35] stalniy opened #1303 "Configuration of AnyType"
**Is your feature request related to a problem? Please describe.**
Currently `AnyType` accepts any JSON value, for some cases I need to restrict `AnyType` to accept only specific shape of the JSON. For example, [GeoJSON specification](https://tools.ietf.org/html/rfc7946) says that a geo point is a JSON object with 2 properties `type` and `coordinates`

This is atomic thing, so I don't want to defi

[2019-12-17 11:07] michaelstaib commented on #1303
There is one important aspect here. Any is not JSON. It is a GraphQL literal. So you do not get the json string. You have a GraphQL literal which is internally represented by an `IValueNode` or a `ReadOnlySpan<byte>`.

If we would allow `Any` to be configured than any would behave the configured way throughout the schema. It would not be possible to have different `Any` behaviors on different fiel

[2019-12-17 11:14] michaelstaib commented on #233
This one should already work. So we just need a test for this.

[2019-12-17 11:16] michaelstaib commented on #590
This is basically implemented and will be related with version 11.

[2019-12-17 11:16] #590 closed

[2019-12-17 11:18] michaelstaib commented on #507
The schema configuration was replaced by the schema builder, so this one is now obsolete.

[2019-12-17 11:18] #507 closed

[2019-12-17 11:45] michaelstaib commented on #1303
https://github.com/graphql/graphql-spec/pull/649

[2019-12-17 13:43] micnyk commented on #1292
@michaelstaib could you please provide me some working example? Because as I understood
[code]
requires to provide `Resolver Logic` in `Resolver` method. My Resolver Logic is quite complex class with a few injected services. And my goal is to have those many complex classes separated in files by domain.
It works fine using `GraphQLResolverOf`, `GraphQLResolver` attributes except I have no idea how

[2019-12-17 15:23] michaelstaib commented on #1292
If you use the newest preview you now have generic extensions:

[code]

[2019-12-17 15:25] michaelstaib commented on #1292
The auth attributes are not yet in the preview but it will look like the following:

[code]

[2019-12-18 07:01] basil-twisleton opened #1305 "Azure Function DI Null Exception"
**Describe the bug**
Null Exception during Dependency Injection within Azure Functions. Working in 10.0.1 only.

**To Reproduce**
Using Repository located https://github.com/OneCyrus/GraphQL-AzureFunctions-HotChocolate

Steps to reproduce the behavior:
1. Download the above sample repository
2. Query data and get back results - Success
eg
[code]
3. Update packages to any version after 10.0.1 (both

[2019-12-18 07:14] basil-twisleton commented on #1305
#520 links to supplied example repo and suggests that there will be native support. @michaelstaib you mention there will be native support in version 11. How far off is this likely to be? and do you have any working examples that I could use?

[2019-12-18 08:20] PascalSenn commented on #1305
@OneCyrus had similar issue, maybe he knows more

[2019-12-18 08:50] OneCyrus commented on #1305
the problem is likely the scoped DI which has a different lifetime in AzF:  https://docs.microsoft.com/en-us/azure/azure-functions/functions-dotnet-dependency-injection#service-lifetimes

[2019-12-18 08:51] OneCyrus commented on #1305
we discussed this here: https://hotchocolategraphql.slack.com/archives/CD9TNKT8T/p1569335037212400

[2019-12-18 08:56] basil-twisleton commented on #1305
I dont have access to Slack. Could you provide a quick summary?

Is it an issue with how HC adds the GraphQL services during Configure?

[2019-12-18 09:15] stalniy commented on #1303
The purpose of `AnyType.Create` is not to change the behavior of `AnyType` but instead to create a custom type which works the same way as `AnyType` but with some restriction.

So that, I don't need to duplicate the same logic in my custom scalar implementation but instead want  to pass just a validation logic.

However I understand your position as well. So, it's up to you to decide whether to im

[2019-12-18 10:54] OneCyrus commented on #1305
![image](https://user-images.githubusercontent.com/7747800/71080228-0cf96e00-218d-11ea-823d-751c555a341d.png)

[2019-12-19 11:51] michaelstaib commented on #1222
This one works with 10.3.0-preview.14 and is under test with 11.0.0

[2019-12-19 11:52] #1222 closed

[2019-12-19 12:41] michaelstaib commented on #1275
Can we close this issue? @freever @PascalSenn

[2019-12-19 13:08] freever commented on #1275
Sure thing

[2019-12-19 13:08] #1275 closed

[2019-12-19 13:14] michaelstaib commented on #937
This bug is now fixed.

[2019-12-19 13:23] michaelstaib commented on #1287
@dlebee  Awesome just saw the linked repo :D thanks for this repro! We will work on this one tonight.

@PascalSenn this one has nothing todo with filters... my fault ;)

[2019-12-19 13:37] #1028 closed

[2019-12-19 13:37] #937 closed

[2019-12-19 15:01] dlebee commented on #1287
@michaelstaib only normal :)

[2019-12-19 20:53] michaelstaib commented on #1168
this one is now fixed with #1309

[2019-12-19 20:53] #1168 closed

[2019-12-19 20:58] #1239 closed

[2019-12-19 21:45] michaelstaib commented on #1287
This one is now fixed

[2019-12-19 21:46] michaelstaib commented on #1287
https://github.com/ChilliCream/hotchocolate/commit/1b0efcbf081cb9dcaea35289d9d0ab62d96ce53d

[2019-12-19 21:46] #1287 closed

[2019-12-19 22:49] michaelstaib opened #1313 "Release Check List 10.3.0"
- [x] Documentation Done
- [x] Documentation Published
- [x] Blog Done
- [x] Blog Published
- [x] Update Templates
- [x] Remove Preview Builds
- [x] Remove RC Builds
- [x] Check Source Link
- [x] Create Release Build
- [x] Merge schema registry fixes

[2019-12-20 17:35] grounzero opened #1314 "Prevent fields from underlying type being exposed to schema"
If I create a type from an underying entity type that is mapped to a db and only wish expose a limited number of property resolvers how do I go about this?

I have declared a type like so and only wish to expose the fields provided to the type descriptor but it seems every property on the underlying type is added to the schema and I can't find out how to prevent this behaviour.

[code]

[2019-12-20 21:39] michaelstaib commented on #1314
You can either set the type to declare fields explicitly or you can set the whole schema to explicit.

descriptor.BindFieldsExplicitly().

Or

SchemaBuilder.New()
    .ModifyOptions(o => o.DefaultBindinigBehav...

[2019-12-20 21:40] #1314 closed

[2019-12-21 12:36] tohagan commented on #1177
I've not forgotten your PR request.  Just been buried other non GraphQL stuff + xmas holidays.
I think I'd need to refer to an example of how to code restricting access to introspection queries but not sure how to go about this despite your guidance above.

[2019-12-21 12:56] grounzero commented on #1314
Thanks, seems so obvious now

[2019-12-21 14:40] michaelstaib commented on #1314
you can also ignore things ... descriptor.Ignore(t => t.FieldToIgnore)

[2019-12-22 09:32] clmcgrath opened #1315 "[UseFiltering] type or namespace not found in most recent 10.3 packages"
**Describe the bug**
The recently added feature [UseFiltering] attribute is not resolving with latest rc.0 packages on nuget see [documentation](https://hotchocolate.io/docs/descriptor-attributes)

**To Reproduce**
install Hotchocolate 10.3-rc.0
add [UseFiltering] to property or type
build

**Expected behavior**
Type should be found in rc quality release

**Desktop (please complete the following i

[2019-12-22 18:44] michaelstaib commented on #1315
Hi,

yes we found that issue and it will be fixed in the rc.1 build.

[2019-12-22 20:22] #1315 closed

[2019-12-23 23:13] #1233 closed

[2019-12-27 08:27] OneCyrus commented on #1305
i just gave this one a try again. and it doesn't look like the azure functions DI behaves incorrectly. the scoped instances are created correctly. there's also a sample on the AzF repo which shows this:

https://github.com/Azure/azure-functions-dotnet-extensions/tree/master/src/samples/DependencyInjection/Scopes
(though i had to update the dependencies to get it up and running)

it looks like ther

[2019-12-28 15:40] PascalSenn commented on #1305
Hm... @michaelstaib could this be related to the custom service factory?

[2019-12-28 18:56] michaelstaib commented on #1305
I think the issue is how we build the execution builder. We will fix that in 11 since we will take apart the whole execution. But first I want to focus more on StrawberryShake and Visual Studio integration.

Once Rafi is done with the first public preview of bcp we can start work on this.

[2019-12-28 21:52] #769 closed

[2019-12-30 07:31] nkovacic commented on #643
This would be very useful for splitting schema to public and internal.

[2019-12-30 14:25] PascalSenn commented on #1305
Ok. So @OneCyrus  and I were debugging a bit.
The functions really behave strange. We could narrow down the issue and think it is related to the DI more specific to the DI injecting this class.  https://github.com/ChilliCream/hotchocolate/blob/master/src/Core/Core/Execution/Middleware/ParseQueryMiddleware.cs

The DI containers fails when it tries to inject  `    IDocumentHashProvider documentHashP

[2019-12-30 15:02] michaelstaib commented on #1305
so `GetService` on their container is really `GetRequiredService`?

[2019-12-30 15:18] OneCyrus commented on #1305
it looks like that. GetService stops the execution of the function when it doesn't find something and doesn't just return null. though it's not the implementation of the DI as it's the same Microsoft.Extension.DependencyInjection package which handles this.

[2019-12-30 15:25] OneCyrus commented on #1305
though it's probably just because of using the wrong ctor for the HashProvider

[2019-12-30 15:31] PascalSenn commented on #1305
hm.. it's not supposed to be created by the DI. The DI should just resolve it :D

[2019-12-30 16:45] OneCyrus commented on #1305
looks like manually registering the HashDocumentProvider after the GraphQL-initialization fixed the issue.

https://github.com/OneCyrus/GraphQL-AzureFunctions-HotChocolate/commit/a37c68a3384e3e47ebad7796318b0cad9b809338#diff-fbd03c53f6f1dc7701583e41f0cda5c8

the feat_nativeDI branch works now with the latest HC version:
https://github.com/OneCyrus/GraphQL-AzureFunctions-HotChocolate

[2019-12-31 00:17] Alan5142 opened #1319 "Subscription authorization"
I have a question, how can I use authorization in subscriptions?
Below is my app configuration
[code]

Authorization works in Query and Mutation but in Subscription ```ClaimsPrincipal``` doesn't exist, so I think the token is not being sent to the server.

#### Subscription user is not authorized
![imagen](https://user-images.githubusercontent.com/13205973/71605594-a599d180-2b2f-11ea-9a41-d237b224

[2019-12-31 09:24] michaelstaib commented on #1319
Authentication over web sockets works differently, read the following issue on ASP.NET Core for more infos:

https://github.com/aspnet/AspNetCore/issues/2881

[2019-12-31 10:49] michaelstaib opened #1320 "Input Serializers"
We have a common request to enable users to intercept the serialization of input types.

Usually people think in this regard of middleware. But I think middleware on input arguments are the wrong idea here and could lead to degrading performance.

Actually what we most of the type want is adding some serialization or rather intercepting the serialization. These interception could be used to add lo

[2019-12-31 13:06] husseinraoouf opened #1321 "Add a way to enable authorization on all properties"
**Is your feature request related to a problem? Please describe.**
I am building an api with hotchocolate and one of the feature i use is the `@authorize` directive
currently most of the queries and mutations require a user so i have to repeat @authorize in front of most of the queries and mutations

**Describe the solution you'd like**
it would be better if i can make authorization enabled by def

[2019-12-31 13:58] michaelstaib commented on #1321
We are at the moment thinking about authorize on the schema

[2019-12-31 14:15] iamgmd opened #1322 "Filter naming using type name"
When you rename a type field name using:

`descriptor.Field(t => t.AccountId).Name("accountid").Type<IdType>();`

Filters names are not automatically inferred from the type field name change.

It would be awesome if HC could respect the type name change for it's filter naming in future.

[2020-01-02 15:38] giangcoi48k opened #1323 "InputType Argument: wrong double number"
My query has a paramter of InputType
![image](https://user-images.githubusercontent.com/12107588/71675110-ab054f00-2daf-11ea-9c40-87570085c095.png)
When I passed my paramter: `from: 2666666666`, I got value `2666667000M`, mean the number which longer than 7 digit was rounded. This caused my query to get wrong results. Is there any way to solve this problem? Sorry for my bad English!

[2020-01-02 16:47] michaelstaib commented on #1323
If you use the decimal type. System.Decimal in combination with DecimalType

[2020-01-02 16:53] giangcoi48k commented on #1323
@michaelstaib but when I passed value 2666666666, I got value 2666667000. The value received is not equal to the input value. The 8th digit will be rounded

[2020-01-03 03:38] giangcoi48k commented on #1323
@michaelstaib hi, any solution to solve this problem?

[2020-01-03 08:38] michaelstaib commented on #1323
This is actually a bug in the way we coerce variables. I just wrote a test to check it out. We will fix this with the upcoming version 11. I will give you a ping once the fix is available as preview.

[2020-01-03 18:07] geekox86 opened #1324 "Just thought to say thank you a million for the great efforts in this wonderful library!"
I am using this library for the first time and I would like to express my appreciation of the well-thought-of library. Good work lads :)

[2020-01-03 21:08] michaelstaib commented on #1323
we might issue a hot fix since we found another issue with 10.3 ... we are discussing it at the moment.... I will keep you in the loop.

[2020-01-04 00:13] hotgen opened #1325 "Cannot add resolvers"
Version: 11.0.0-preview.74

This code works:

[code]

And this doesn't:

[code]

Any ideas? Thanks.

[2020-01-04 06:36] michaelstaib commented on #1325
BindResolvers if for SDL-First and works differently ...

If you want to add some fields to your blog type then this would work:

[code]

Bind resolvers works like the following:

[code]

[2020-01-04 20:50] PascalSenn opened #1326 "HotChocolate Patching Types"
# HotChocolate.Types.Patch

## Introduction

A common thing of every application is partial updates of objects. Using GraphQL you can only create partial updates when using optional input types. In the mutation resolver you have to check the input type for all attribute that are set and then do the partial updates. This behavior is very generic and can occur many times in different places in the a

[2020-01-05 14:22] michaelstaib commented on #1325
Can we close this issue?

[2020-01-05 14:58] hotgen commented on #1325
Thanks for clarification! Important thing to note is that `ExtendObjectType` works if I want to **add** some fields. If a field already there (in my case `Posts`) I still need to use descriptor aproach.

[2020-01-05 15:22] feliperugai opened #1327 "[Question] Same resolver for different properties?"
I'm new at GraphQL and I would like to say that this library is just awesome, thank you for  this, really.

As I'm learning GraphQL and HotChocolate's implementation of it, I'm having some trouble to understand why this particular issue is happening. I really don't know if it's a bug or I'm doing something wrong, and after strugling for some days I decided to post it here.

So the thing is, I have

[2020-01-05 18:09] strahinja16 opened #1328 "Data loader for many to many relationship"
Hi,
I was following the guide from the docs about  implementing data loaders in my resolvers and I've run into an issue with many to many relationship.

I have **Recipe** class with the many to many relationship to **Tag**.  I want to make an query

[code]
where I would fetch the Tags with Recipes. I've tried with the _GroupDataLoader_ but it I cannot make it work that way.

How can I implement th

[2020-01-06 10:51] ibebbs opened #1329 ".NET CLI Template missing namespace"
** Description **
A new project created using the HotChocolate.Templates.Server does not build

**To Reproduce**
[code]
Produces

[code]

**Expected behavior**
The build should be successful

**Desktop (please complete the following information):**
 - OS: Windows
 - Version 10 Pro

**Additional context**
The `Startup.cs` file is missing a using for `HotChocolate`. Inserting the following line at l

[2020-01-06 11:53] Eebo78 opened #1330 "Server seems to have a memory leak"
**Describe the bug**
Memory keeps on increasing when running the server and sending queries

**To Reproduce**
Steps to reproduce the behavior:
1. Create a new server from the template
2. Start the server
3. Open your browser and navigate to playground
4. If running from visual studio you can see that memory keeps increasing or in task manager

**Expected behavior**
Memory should not keep on increa

[2020-01-06 12:06] michaelstaib commented on #1330
So, the memory increases when you send queries or on its own?

[2020-01-06 12:30] Eebo78 commented on #1330
It's increasing when sending queries. Playground sends schema queries on an interval. Graphiql doesn't so here I have to create an query and click the play button to see that it increases.

[2020-01-06 13:11] michaelstaib commented on #1330
OK,

we are working on doing something for that.

But, there always will be an impact for queries since we have to build up the result. We will mitigate some of the effects with pooled objects but not all.

Schema polling is not a good idea since you have to constantly create a result for the introspection query and that costs.

We have one user that has a schema that is about 50mb big when serial

[2020-01-06 13:12] michaelstaib commented on #1330
I have marked this issue as duplicate since we are tracking this already.

[2020-01-06 13:15] michaelstaib commented on #1328
Can you provide some code to point to the issue at hand?

[2020-01-06 13:18] michaelstaib commented on #1327
the field descriptor is not really the resolver. with `descriptor.Field` you specified from which member we should infer the field. You can only use a member as field once on a specific type.

You can however use the resolver method multiple times in resolvers or middleware.

`descriptor.Field("foo").Resolver(....)`

[2020-01-06 13:20] Eebo78 commented on #1330
OK, but I see the same behavior when using GraphiQL. Afaik this doesn't do schemapolling and a running following: query test { greetings { hello}} increases the memory usage? Will that be fixed in the duplicate ticket?

[2020-01-06 13:49] felrugai commented on #1327
Thanks for the reply!
Actually I was following the StarWars example, which uses a SharedResolvers.

From DroidType.cs we have

[code]

My UserResolvers would be the SharedResolvers, which I would use in other types so I don't have to duplicate code.
I did it just like the following docs [https://hotchocolate.io/docs/code-first-resolvers#resolver-types](https://hotchocolate.io/docs/code-first-resol

[2020-01-06 14:30] felrugai commented on #1327
I ended up changing my ```UserResolvers.GetUser()``` to receive only ```IResolverContext``` so I could use it like this:

[code]
That's working. But would this be a correct way of doing it?

[2020-01-06 14:31] michaelstaib commented on #1330
Are you testing this with debugger attached?  The overall overhead for this query should be minimal.

But rest assured, we have this on our list and will address the allocations with the upcoming V11.

[2020-01-06 14:33] michaelstaib commented on #1330
#1283

[2020-01-06 14:34] #1330 closed

[2020-01-06 14:35] michaelstaib commented on #1283
#1330

[2020-01-06 14:42] michaelstaib commented on #1327
In the example the shared resolver is shared between two different types not two times in the same type. Hence you can just import the member.

[2020-01-06 14:43] michaelstaib commented on #1327
yes you can do that.

[2020-01-06 15:53] michaelstaib commented on #1330
Just so you know, we also have a slack channel for questions....
https://join.slack.com/t/hotchocolategraphql/shared_invite/enQtNTA4NjA0ODYwOTQ0LTViMzA2MTM4OWYwYjIxYzViYmM0YmZhYjdiNzBjOTg2ZmU1YmMwNDZiYjUyZWZlMzNiMTk1OWUxNWZhMzQwY2Q

[2020-01-06 16:26] strahinja16 commented on #1328
Yes. Well,  I have **Users**, **Recipes**, and **Tags**. There is 1:N relationship between users and recipes and N:M between Recipes and Tags, standard EF Core mapping. So for the recipes field of UserType I had this implementation

[code]
with the repository.GetRecipesByUserId having this implementation

[code]

I wanted to use the similar approach for the tags field in the RecipeType but I canno

[2020-01-06 17:34] RohrerF commented on #1329
Verifyed this issue. PR opened 🏃

[2020-01-06 20:28] felrugai opened #1332 "How to filter a query by a list argument?"
Hello there!

I'm trying to use the bult-in filtering mechanism to filter a query, but my field is a list.

**Initiative.cs**
[code]

**Tag.cs**
[code]

What I want to achieve is something like this query:

` initiatives(where: { tags_contains: { name: "test" } })`
**or**
` initiatives(where: { tags_name_contains: "test" })`

So that I could filter out initiatives that have tags with Name that con

[2020-01-06 21:41] dlebee commented on #1287
@michaelstaib thank you :)

[2020-01-07 07:23] PascalSenn commented on #1332
Hi @felrugai

To use the filters you have to specify the attribute on the field.
There are two basic principals.

**Explicit Binding**
You can create your own Filters by extending `FIlterInputType<T>`. This way you can e.g. only add the Field you like.

**Implicit Binding**
You can let the filters infer your type. This way all fields are filterable.

**Registering Filters**
*Code First*
[code]
Or

[2020-01-07 13:45] basil-twisleton commented on #1305
Thank you. I have been able to get it working using the suggested approach for now.

Keep me posted if it gets fixed in V 11.

Thanks

[2020-01-07 13:50] felrugai commented on #1332
Hi @PascalSenn, thanks for the reply!

By using the `Pure Code First` attribute aproach, I can only filter the tags inside of an Initiative. My goal is to filter all Initiatives by their tags. For example, I have 10 Initiatives, and 5 of them holds a list of Tags which have an Name of "GitHub".   I would like to query only those 5, like
[code]

I think [this image](https://imgur.com/kAhxXos) can s

[2020-01-07 13:51] michaelstaib commented on #1332
@felrugai on which version are you? 10.3.x?

[2020-01-07 13:53] felrugai commented on #1332
Yes! All my packages are at v10.3.2

[2020-01-07 14:00] michaelstaib commented on #1332
OK, that is why. In V11 previews the filters are much more powerful and let you do all those things.

[2020-01-07 14:02] felrugai commented on #1332
Nice! Im just updating my packages to the prerelease versions. How could I implement this specific need in the V11 preview?

[2020-01-07 14:08] b-twis opened #1333 "UseFiltering() fails with Azure Function host"
Hi All,

**Describe the bug**
Azure Function Filteirng Exception is raised for Implicit Filtering.

System.InvalidOperationException: 'No coercion operator is defined between types 'System.Object' and 'System.Void'.'

If I add a Explicit Filtering Type it seems to be ok. However I do not want to have to define the explicit filters everywhere.

**To Reproduce**
Using Repository located https://gith

[2020-01-07 15:37] pkellner commented on #392
@drowhunter It looks like your pull request has been acted on and there is now a feature in graphql to do this.  Are you still happy with your hotchocolate choice? graphql-dotnet seems more mature but hard to tell.  AutoRegisteringObjectGraphType

[2020-01-07 19:04] felrugai commented on #1332
With v.11.0.0-preview.74 I could accomplish what I wanted with:

` initiatives(where: { tags_some: { name_contains: "GitHub" } }) `

Thanks!

[2020-01-07 19:04] #1332 closed

[2020-01-07 19:26] michaelstaib commented on #392
I think at this stage this is no longer true (maturaty wise).

- Hot Chocolate has a much better parser that passes the Facebook kitchen sink tests opposed to GraphQL-DotNet which fails it.
- Hot Chocolate has support for Prisma-like filters. Our implementation goes even beyond that of Prisma with more complex filters and sorting on multiple fields in an object graph
- Batching is another area whe

[2020-01-07 19:31] NickBeukema opened #1335 "Using built in filtering uses AND instead of OR"
**Describe the bug**
I'm having an issue with the built in filtering in HotChocolate. I'm running a query to search over Contacts, checking if the search term is either in the FirstName or the LastName, but the SQL getting run uses an AND, requiring the search term to exist in both the FirstName and the LastName.

**To Reproduce**
Steps to reproduce the behavior:

On `QueryType.cs`

[code]

The qu

[2020-01-07 19:48] PascalSenn commented on #1335
We just discussed this on slack.

_Adrian Frielinghaus_

OR: [
        {
            lastName_contains: $searchTerm
        },
        {
            lastName_contains: $searchTerm
        }
    ]

_Nick Beukema_

[code]

[2020-01-07 19:51] michaelstaib commented on #1335
Actually this is not a bug but fully correct.

Let me explain.

The assumption that we have done to make it very easy to use is that the default is `AND`.

Meaning:

[code]

Will become a simple and query. So for simple queries there is no need to express an AND operator.

of you want an or query this is the way to write it:

[code]

And you also can combine this since:

[code]

would become

[cod

[2020-01-07 19:54] michaelstaib commented on #1335
Can we close this issue?

[2020-01-07 19:56] michaelstaib commented on #1333
To me this looks like there is a method inferred that returns null instead of something. Do you mind sharing a repro?

[2020-01-07 19:56] michaelstaib commented on #1329
We have fixed this issue for V11

[2020-01-07 19:56] michaelstaib commented on #1329
I will close this bug

[2020-01-07 19:56] #1329 closed

[2020-01-07 20:30] basil-twisleton commented on #1333
@michaelstaib
You should be able to take the one I linked and make the same change I did.

[2020-01-07 20:43] michaelstaib commented on #1333
sorry :) skimmed the text :D

[2020-01-07 23:08] pkellner commented on #392
OK, you've got my attention.  Besides being a group of obviously brilliant, very artistic and not very good at naming things, who are you? If a big company wants to use hotchocolate, do they have any reason to think that maltedMilkshakes might come along and that would be the end of hotchocalate? Do you guys have any big companies that are behind (or funding) your effort? I can't find any "about C

[2020-01-08 03:14] barticus opened #1336 "Algolia search broken on docs (https://hotchocolate.io/)"
**Describe the bug**
It appears that using the search box on the docs currently returns no results from algolia, meaning there is no feedback whether there is a result, and no assistance jumping to different parts of the documentation (apart from the TOC).
This seems to only have stopped working in the last few days. Apologies if this is not the correct place to report this.

**To Reproduce**
Step

[2020-01-08 06:58] michaelstaib commented on #1336
Hi @barticus,

thank you for reporting this one. We will look into it.

[2020-01-08 08:43] michaelstaib commented on #392
So, what is your concern with their approach? I read into their documentation and they basically do what every platform does.

We will divert in this regard with version 11. We are at the moment building a new execution engine that works completely different to the spec described execution algorithms.

Instead of execution the graph as is we ware precompiling queries to execution plans.

For that

[2020-01-08 08:48] michaelstaib commented on #392
Regarding DataLoader... I recommend using them more like the following:

[code]

you can also use the delegate form and define them on the fly:

[code]

But in general I personally like to define them as a class.

[2020-01-08 08:55] michaelstaib commented on #392
Also with Hot Chocolate filling in those fields in the relation is also very nice... you can this even do without declaring a schema type:

[code]

The type above adds a field `schemas` to the `Query`. also it adds paging, filtering and sorting, meaning that we can do the following:

[code]

[2020-01-08 13:53] elamothe1 opened #1338 "Customizing Filter Transformation Example"
Hi,
Do you have a example of use for the FilterVisitorBase or more documentation of the functionality ?

Thank you

[2020-01-08 13:55] pkellner commented on #392
I do like a lot how you use attribute. I do need to study more and go through your examples to understand what you've done but it does seem very powerful.

Regarding what I don't like about the dataloader, what I don't like is it feels awkward in terms first giving the function as a string, and then, having to create parameters that are inferred in closure. Maybe it is just me, but it feels like a

[2020-01-08 15:09] #15 closed

[2020-01-08 15:09] #19 closed

[2020-01-08 15:09] #22 closed

[2020-01-08 15:09] #51 closed

[2020-01-08 15:10] #67 closed

[2020-01-08 15:11] #161 closed

[2020-01-08 15:11] #181 closed

[2020-01-08 15:11] #179 closed

[2020-01-08 15:11] #254 closed

[2020-01-08 15:12] #223 closed

[2020-01-08 15:12] #240 closed

[2020-01-08 15:12] #213 closed

[2020-01-08 15:13] #277 closed

[2020-01-08 15:13] #296 closed

[2020-01-08 15:14] #314 closed

[2020-01-08 15:15] michaelstaib commented on #320
this one is possible since 10.0

[2020-01-08 15:15] #320 closed

[2020-01-08 15:15] #348 closed

[2020-01-08 15:16] #377 closed

[2020-01-08 15:16] #354 closed

[2020-01-08 15:17] #380 closed

[2020-01-08 15:17] #410 closed

[2020-01-08 15:18] #448 closed

[2020-01-08 15:18] #447 closed

[2020-01-08 15:18] #449 closed

[2020-01-08 15:19] michaelstaib commented on #393
This is implemented with 10

[2020-01-08 15:19] #393 closed

[2020-01-08 15:20] #436 closed

[2020-01-08 15:20] #439 closed

[2020-01-08 15:21] #452 closed

[2020-01-08 15:21] #453 closed

[2020-01-08 15:21] #475 closed

[2020-01-08 15:21] #476 closed

[2020-01-08 15:22] #68 closed

[2020-01-08 15:31] michaelstaib commented on #392
There are at the moment 4 person working on the chillicream GraphQL platform. We hope to have the platform out by August ... maybe later. SwissLife in Switzerland is pushing us and they are investing in this platform. That have built there customer platform on top of Hot Chocolate and are at the moment pushing the schema registry. Then there are other like ThoughtWorks https://www.thoughtworks.com

[2020-01-08 16:12] PascalSenn opened #1339 "[StarwberryShake] Typename in Array of interfaces"
**Describe the bug**
In response object __typename is assigned to itself.
[code]

[code]

Try to add a failing test when i got the time

[2020-01-08 16:15] PascalSenn opened #1340 "[StrawberryShake] Configure Namespace"
To avoid colliding namespaces it would be nice to be able to configure it via configuration

_berry.json_
[code]

[2020-01-08 16:32] PascalSenn opened #1341 "[StrawberryShake] Type issue with object"
**Describe the bug**
Is the same object type queries more than twice in  the same query, the generation produces type erros.

**To Reproduce**
Schema
[code]
Queries
[code]

Error:
[code]

IBar2 is generated but not correctly referenced

**Expected behavior**
The type references are correct, it compiles

**Desktop (please complete the following information):**
 - OS: Windows
 - Version: 11-Preview.

[2020-01-08 17:21] freever opened #1342 "Unable to pass variable objects"
I have a problem passing objects as variables.

In this particular case my server exposes users as a Connection that can be filtered, sorted, paginated and queried as a node. The UserConnection is defined as follows:

[code]

The Get() method on UserRepository returns an IQueryable from EF Core that has already been filtered based on some Authentication attributes extracted from the resolverContex

[2020-01-08 17:22] freever commented on #1342
Some screenshots to illustrate

![works](https://user-images.githubusercontent.com/2269624/72000537-310c1480-324c-11ea-8af7-67fd8d1f3f6b.png)
![works not](https://user-images.githubusercontent.com/2269624/72000538-310c1480-324c-11ea-85fb-79782da39802.png)

[2020-01-08 21:42] rstaib opened #1343 "[Banana Cake Pop] Tracing Timeline for Results"

[2020-01-08 21:45] rstaib opened #1344 "[Banana Cake Pop] Preferences"

[2020-01-08 21:46] rstaib opened #1345 "[Banana Cake Pop] Shortcuts"

[2020-01-08 21:47] rstaib opened #1346 "[Banana Cake Pop] Keyboard Navigation"

[2020-01-08 21:52] rstaib opened #1347 "[Banana Cake Pop] Finalize Console"
There are two open tasks for the console.

1) Console items need to be virtualised like the rest of the components.
2) Show details in case an console item has attached details.

[2020-01-08 21:56] rstaib opened #1348 "[Banana Cake Pop] Environments"

[2020-01-08 21:57] rstaib opened #1349 "[Banana Cake Pop] Workspaces"

[2020-01-08 21:59] strahinja16 commented on #1328
@michaelstaib any ideas ?

[2020-01-08 21:59] rstaib opened #1350 "[Banana Cake Pop] Download SDL"

[2020-01-08 23:02] michaelstaib commented on #1328
I will look tomorrow at this ... sorry for the wait.

[2020-01-08 23:03] strahinja16 commented on #1328
ok, thanks, much appreciated

[2020-01-08 23:05] #1313 closed

[2020-01-08 23:32] PascalSenn opened #1351 "[Banana Cake Pop] Extend type in query"
When writing a query (especially for test cases) you often want to extend the whole type with all of its fields.
Adding an extension feature behind the field name like
![image](https://user-images.githubusercontent.com/14233220/72024899-eeabfd00-3276-11ea-9d5c-983c07d5dff6.png)
and after you clicked on •••
![image](https://user-images.githubusercontent.com/14233220/72024978-29159a00-3277-11ea-9b75

[2020-01-09 00:12] PascalSenn commented on #1342
@freever  I added a test case for this but it passes. Can you see something you did different looking at the test case?

[2020-01-09 01:31] PascalSenn opened #1354 "OR filter fails with variables"
Followup issue of: #1335
**Describe the bug**
If an OR filter is applied and a variable is inside the filters fail.
I am not sure if this is invalid and i didn't get this of the spec or if it is related to #192

After the argument is resolver with `context.Argument<IValueNode>("argname")` the variables in a object in a list are not replaced.
Working example with object:
![image](https://user-image

[2020-01-09 01:34] PascalSenn commented on #1335
@NickBeukema  I added a issue especially for the bug you observed :+1:
I will close this issue

[2020-01-09 01:34] #1335 closed

[2020-01-09 07:03] rstaib opened #1355 "[Banana Cake Pop] MacOS Notarization"

[2020-01-09 07:50] freever commented on #1286
Think I found the problem - see #1342

[2020-01-09 07:50] #1286 closed

[2020-01-09 07:50] freever commented on #1342
This is probably a duplicate of #1286 so I'll close that one.

[2020-01-09 08:01] freever commented on #1342
@PascalSenn I think the problem is how I am deserializing queries before passing them to the QueryExecutor, which is why your (and my) unit tests pass.

My HC server runs on an Azure function. The HC example of an Azure function does not seem complete so I followed the example here: https://github.com/OneCyrus/GraphQL-AzureFunctions-HotChocolate

Using an Azure function, we need to manually deseri

[2020-01-09 08:22] michaelstaib commented on #1335
I think we also should write Moro docu on the filters. I think I will add a section on how the filters translate to sql.

[2020-01-09 08:59] freever opened #1356 "Filtering by dates "greater than" includes equal dates"
**Describe the bug**
When using the built in filtering and filtering by datetime_gt (not sure if this affects non-datetime types) the result set includes equal values (ie gte is applied instead of gt)

**To Reproduce**
I have added a unit test but can't push it.
In Core QueryableFilterTests.cs extend Foo with
[code]

Then add the following test:
[code]

**Expected behavior**
The resulting count sh